# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
tmp
# credential
# profile

# Test binary, built with `go test -c`
*.test
.vscode

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.log

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# mc-data-manager binary, built with `go build`
mc-data-manager

# Credential
profile.json
secrets.json
gcp.json
*.tfvars



# Local .terraform directories
.terraform/
.terraform*
terraform.tfstate
terraform.tfstate.*
crash.log
crash.*
*.tfvars
*.tfstate
*.tfstate.*

# Sensitive variable definition files
secrets.tfvars
terraform.tfvars
*.auto.tfvars

# Ignore override files as they are usually machine-specific
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore plan output files
*.tfplan