[submodule "mc-application-manager"]
	path = mc-application-manager
	url = https://github.com/m-cmp/mc-application-manager
[submodule "mc-cost-optimizer"]
	path = mc-cost-optimizer
	url = https://github.com/m-cmp/mc-cost-optimizer
[submodule "mc-iam-manager"]
	path = mc-iam-manager
	url = https://github.com/m-cmp/mc-iam-manager
[submodule "cb-tumblebug"]
	path = cb-tumblebug
	url = https://github.com/cloud-barista/cb-tumblebug
[submodule "cb-spider"]
	path = cb-spider
	url = https://github.com/cloud-barista/cb-spider
[submodule "mc-web-console"]
	path = mc-web-console
	url = https://github.com/m-cmp/mc-web-console
[submodule "mc-workflow-manager"]
	path = mc-workflow-manager
	url = https://github.com/m-cmp/mc-workflow-manager
[submodule "mc-admin-cli"]
	path = mc-admin-cli
	url = https://github.com/m-cmp/mc-admin-cli
[submodule "mc-observability"]
	path = mc-observability
	url = https://github.com/m-cmp/mc-observability
