<ol class="breadcrumb mb-1" style="margin-top: 66px;">
    <li class="breadcrumb-item">Back Up</li>
</ol>
<h2 class="page-title" id="title">Object Storage</h2>

<div class="card rounded-3 mb-4 col-auto">
    <ul class="nav nav-tabs pt-2 ps-2" id="serviceTabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Object Storage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">SQL Database</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">No-SQL</a>
        </li>
    </ul>
    <div class="card-body">
        <form id="backForm">
            <input type="hidden" id="backSource" value="backup">
            <input type="hidden" id="backDest" value="backup">
            <input type="hidden" id="sourcePoint[provider]" value="none">
            <input type="hidden" id="srcService" value="objectstorage">
            <!-- <label for="sourceCredentialSelect" class="form-label">Back Up</label> -->
            <div class="input-group mb-3">
                <div class="form-floating">
                    <input type="text" class="form-control" id="sourcePointLabel" placeholder="Source" style="border: 0; background-color: white;" value="-" required disabled>
                    <label for="sourcePointLabel">Source</label>
                </div>
            </div>
            <div class="input-group mb-3 me-1" id="credentialDiv">
                <span class="input-group-text rounded-start"><i class="fa-solid fa-user-secret"></i></span>
                <div class="form-floating">
                    <select class="form-select form-select-sm rounded-end" id="sourceCredentialSelect" name="sourcePoint[credentialId]">
                        <option value="none" data-provider="none"> - </option>
                    </select>
                    <label for="sourceCredentialSelect">provider - credential name</label>
                </div>
            </div>
            <!-- <label for="mig-linux-path" class="form-label">Backup Service</label> -->
            <!-- <div class="input-group mb-3"> -->
                <!-- <span class="input-group-text"><i class="fa-solid fa-cloud"></i></span> -->
                <!-- <select class="form-select" id="srcProvider" name="sourcePoint[provider]"> -->
                    <!-- <option value="aws">AWS</option> -->
                    <!-- <option value="gcp">GCP</option> -->
                    <!-- <option value="ncp">NCP</option> -->
                    <!-- <option value="on-premise">On-premise</option> -->
                <!-- </select> -->
                <!-- <span class="input-group-text"><i class="fa-solid fa-cloud"></i></span> -->
                <!-- <select class="form-select" id="srcService" name="srcService"> -->
                    <!-- <option value="objectstorage">ObjectStorage</option> -->
                    <!-- <option value="rdbms">RDB</option> -->
                    <!-- <option value="nrdbms">NRDB</option> -->
                    <!-- <option value="on-premise">On-premise</option> -->
                <!-- </select> -->
            <!-- </div> -->

            <div class="mb-3">
                <label for="mig-linux-path" class="form-label">Backup Path</label>
                <div class="input-group">
                    <span class="input-group-text rounded-start"><i class="fas fa-folder"></i></span>
                    <div class="form-floating">
                      <input type="text" class="form-control rounded-end" id="mig-linux-path" name="targetPoint[path]" value="/tmp/dummy" placeholder="디렉토리 경로">
                      <label for="mig-linux-path">Path</label>
                    </div>
                </div>
            </div>
            
            <div class="form-section" id="aws-objectstorage" style="display:none;">
                <div class="input-group mb-3 me-1">
                    <span class="input-group-text rounded-start"><i class="fa-solid fa-globe"></i></span>   
                    <div class="form-floating">
                        <select class="form-select form-select-sm rounded-end" id="mig-aws-region" name="sourcePoint[region]">
                        {{ range $index, $value := .AWSRegions }}
                        <option value="{{ $value }}">{{ $value }}</option>
                        {{ end }}
                        </select>
                        <label for="mig-aws-region">Region</label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text rounded-start"><i class="fa-solid fa-bucket"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control rounded-end" id="back-aws-bucket" name="sourcePoint[bucket]" placeholder="Bucket" required>
                        <label for="back-aws-bucket">Bucket</label>
                    </div>
                </div>
            </div>

            <div class="form-section" id="gcp-objectstorage" style="display:none;">
                <!-- <label class="form-label">GCP ObjectStorage Settings</label> -->
                <div class="input-group mb-3 me-1">
                    <span class="input-group-text rounded-start"><i class="fa-solid fa-globe"></i></span> 
                    <div class="form-floating">
                        <select class="form-select form-select-sm rounded-end" id="mig-gcp-region" name="sourcePoint[region]">
                        {{ range $index, $value := .GCPRegions }}
                        <option value="{{ $value }}">{{ $value }}</option>
                        {{ end }}
                        </select>
                        <label for="mig-gcp-region">Region</label>
                    </div>
                </div>
                
                <div class="input-group mb-3">
                    <span class="input-group-text rounded-start"><i class="fa-solid fa-bucket"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control rounded-end" id="gcp-objectstorage-bucket" name="sourcePoint[bucket]" placeholder="Bucket" required>
                        <label for="gcp-objectstorage-bucket">Bucket</label>
                    </div>
                </div>
            </div>

            <div class="form-section" id="ncp-objectstorage" style="display:none;">
                <!-- <label class="form-label">NCP ObjectStorage Settings</label> -->
                <div class="input-group mb-3 me-1">
                    <span class="input-group-text rounded-start"><i class="fa-solid fa-globe"></i></span>   
                    <div class="form-floating">
                        <select class="form-select form-select-sm rounded-end" id="mig-ncp-region" name="sourcePoint[region]">
                        {{ range $index, $value := .NCPRegions }}
                        <option value="{{ $value }}">{{ $value }}</option>
                        {{ end }}
                        </select>
                        <label for="mig-ncp-region">Region</label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text rounded-start"><i class="fa-solid fa-location-dot"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control rounded-end" id="back-ncp-endpoint" name="sourcePoint[endpoint]" placeholder="Endpoint">
                        <label for="back-ncp-endpoint">Endpoint</label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text rounded-start"><i class="fa-solid fa-bucket"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control rounded-end" id="ncp-objectstorage-bucket" name="sourcePoint[bucket]" placeholder="Bucket" required>
                        <label for="ncp-objectstorage-bucket">Bucket</label>
                    </div>
                </div>
            </div>

            <div class="form-section" id="rdbms" style="display:none;">
                <label for="mysql-srcHost" class="form-label">RDB Settings</label>
                <div class="input-group mb-3" id="rdbmsProvider">
                    <span class="input-group-text rounded-start"><i class="fa-solid fa-cloud"></i></span>
                    <select class="form-select rounded-end" id="provider" name="provider">
                        <option value="aws">AWS</option>
                        <option value="gcp">GCP</option>
                        <option value="ncp">NCP</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text rounded-start"><i class="fa-solid fa-house"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control rounded-end" id="mysql-srcHost" name="sourcePoint[host]" placeholder="Host / IP">
                        <label for="mysql-srcHost">Host / IP</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text rounded-start"><i class="fa-solid fa-flag"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control rounded-end" id="mysql-srcPort" name="sourcePoint[port]" placeholder="Port">
                        <label for="mysql-srcPort">Port</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text rounded-start"><i class="fa-solid fa-user"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control rounded-end" id="mysql-srcUsername" name="sourcePoint[username]" placeholder="Username">
                        <label for="mysql-srcUsername">Username</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text rounded-start"><i class="fa-solid fa-lock"></i></span>
                    <div class="form-floating">
                        <input type="password" class="form-control rounded-end" id="mysql-srcPassword" name="sourcePoint[password]" placeholder="Password">
                        <label for="mysql-srcPassword">Password</label>
                    </div>
                </div>
            </div>


            <div class="form-section" id="aws-nrdbms" style="display:none;">
                <!-- <label class="form-label">AWS NRDB Settings</label> -->
                <div class="input-group mb-3 me-1">
                    <span class="input-group-text rounded-start"><i class="fa-solid fa-globe"></i></span> 
                    <div class="form-floating">
                        <select class="form-select form-select-sm rounded-end" id="nrdbms-aws-region" name="sourcePoint[region]">
                        {{ range $index, $value := .AWSRegions }}
                        <option value="{{ $value }}">{{ $value }}</option>
                        {{ end }}
                        </select>
                        <label for="nrdbms-aws-region">Region</label>
                    </div>
                </div>
            </div>

            <div class="form-section" id="gcp-nrdbms" style="display:none;">
                <!-- <label class="form-label">GCP NRDB Settings</label> -->
                <div class="input-group mb-3 me-1">
                    <span class="input-group-text rounded-start"><i class="fa-solid fa-globe"></i></span>  
                    <div class="form-floating">
                        <select class="form-select form-select-sm rounded-end" id="nrdbms-gcp-region" name="sourcePoint[region]">
                        {{ range $index, $value := .GCPRegions }}
                        <option value="{{ $value }}">{{ $value }}</option>
                        {{ end }}
                        </select>
                        <label for="nrdbms-gcp-region">Region</label>
                    </div>
                </div>
            </div>

            <div class="form-section" id="ncp-nrdbms" style="display:none;">
                <!-- <label class="form-label">NCP NRDB Settings</label> -->
                <div class="input-group mb-3 me-1">
                    <span class="input-group-text rounded-start"><i class="fa-solid fa-globe"></i></span> 
                    <div class="form-floating">
                        <select class="form-select form-select-sm rounded-end" id="nrdbms-ncp-region" name="sourcePoint[region]">
                        {{ range $index, $value := .NCPRegions }}
                        <option value="{{ $value }}">{{ $value }}</option>
                        {{ end }}
                        </select>
                        <label for="nrdbms-ncp-region">Region</label>
                    </div>
                </div>
                <label for="nosql-srcHost" class="form-label">NRDB Settings</label>
                <div class="input-group mb-3">
                    <span class="input-group-text rounded-start"><i class="fa-solid fa-house"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control rounded-end" id="nosql-srcHost" name="sourcePoint[host]" placeholder="Host / IP">
                        <label for="nosql-srcHost">Host / IP</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text rounded-start"><i class="fa-solid fa-flag"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control rounded-end" id="nosql-srcPort" name="sourcePoint[port]" placeholder="Port">
                        <label for="nosql-srcPort">Port</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text rounded-start"><i class="fa-solid fa-user"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control rounded-end" id="nosql-srcUsername" name="sourcePoint[username]" placeholder="Username">
                        <label for="nosql-srcUsername">Username</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text rounded-start"><i class="fa-solid fa-lock"></i></span>
                    <div class="form-floating">
                        <input type="password" class="form-control rounded-end" id="nosql-srcPassword" name="sourcePoint[password]" placeholder="Password">
                        <label for="nosql-srcPassword">Password</label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text rounded-start"><i class="fa-solid fa-database"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control rounded-end" id="nosql-databaseName" name="sourcePoint[databaseName]" placeholder="DataBase">
                        <label for="nosql-databaseName">DataBase Name</label>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary rounded-1" id="submitBtn">Submit</button>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const tabs = document.querySelectorAll("#serviceTabs .nav-link");
        const hiddenInput = document.getElementById("srcService");
        // 텍스트 → 코드값 매핑
        const serviceMap = {
            "Object Storage": "objectstorage",
            "SQL Database": "rdbms",
            "No-SQL": "nrdbms"
        };

        tabs.forEach(tab => {
            tab.addEventListener("click", e => {
                e.preventDefault(); // a 태그 기본 이동 막기

                // 모든 탭에서 active 제거
                tabs.forEach(t => t.classList.remove("active"));

                // 선택한 탭만 active 추가
                tab.classList.add("active");

                // hidden input 값 갱신 (텍스트 그대로 사용)
                const key = tab.textContent.trim();
                hiddenInput.value = serviceMap[key] || "";

                updateFormVisibility()

                document.getElementById("title").innerHTML = key
            });
        });
        
        document.getElementById('sourcePoint[provider]').addEventListener('change', e => {
            updateFormVisibility()
        });
    });

    function updateLabel(provider, service) {
        const serviceMap = {
            nrdbms: {
                aws: "AWS DynamoDB",
                ncp: "Naver MongoDB",
                gcp: "Google Firestore",
            },
            objectstorage: {
                aws: "AWS S3",
                ncp: "Naver Object Storage",
                gcp: "Google Cloud Storage",
            },
            rdbms: {
                default: "MySQL",
            },
        };

        let serviceName = "-";
        const providers = serviceMap[service];
        if (providers) {
            serviceName = providers[provider] || providers.default || "-";
        } 

        const select = document.getElementById("sourcePointLabel");   // label 갱신
        select.value = serviceName
    }

    function updateFormVisibility() {
        const provider = document.getElementById('sourcePoint[provider]');
        const service = document.getElementById('srcService').value;
        let idToShow = provider.value + '-' + service;

        updateLabel(provider.value, service)

        const credentialDiv = document.getElementById("credentialDiv")
        if(service === 'rdbms') {
            idToShow = 'rdbms';
            credentialDiv.style.display = "none"
            credentialDiv.querySelectorAll("select").forEach(input => {
                input.selectedIndex = 0; 
                input.setAttribute('disabled', '');
                input.removeAttribute('required');
            })

            document.getElementById("rdbmsProvider").style.display = ""
        } else {
            credentialDiv.style.display = ""
            credentialDiv.querySelectorAll("select").forEach(input => {
                input.removeAttribute('disabled');
                input.setAttribute('required', '');
            })

            document.getElementById("rdbmsProvider").style.display = "none"
        }

        const allInputs = document.querySelectorAll('.form-section input, .form-section select, .form-section textarea');
        allInputs.forEach(function(input) {
            if (input.type === 'checkbox' || input.type === 'radio') {
                input.checked = false;
            } else if (input.tagName.toLowerCase() === 'select') {
                input.selectedIndex = 0; 
            } else {
                input.value = '';
            }
            input.removeAttribute('required');
        });


        const formSections = document.getElementsByClassName('form-section');
        for (let i = 0; i < formSections.length; i++) {
            let section = formSections[i];
            if (section.id === idToShow) {
                section.style.display = 'block';
                let inputs = section.querySelectorAll('input, select, textarea');
                inputs.forEach(function(input) {
                    input.removeAttribute('disabled');
                    input.setAttribute('required', '');
                });
            } else {
                section.style.display = 'none';
                let inputs = section.querySelectorAll('input, select, textarea');
                inputs.forEach(function(input) {
                    input.setAttribute('disabled', '');
                    input.removeAttribute('required');
                });
            }
        }
    }

    // function disableAll() {
    //     const allInputs = document.querySelectorAll('.form-section input, .form-section select, .form-section textarea');
    //     allInputs.forEach(function(input) {
    //         if (input.type === 'checkbox' || input.type === 'radio') {
    //             input.checked = false;
    //         } else if (input.tagName.toLowerCase() === 'select') {
    //             input.selectedIndex = 0; 
    //         } else {
    //             input.value = '';
    //         }
    //         input.removeAttribute('required');
    //     });

    //     const formSections = document.getElementsByClassName('form-section');
    //     for (let i = 0; i < formSections.length; i++) {
    //         let section = formSections[i];
    //         section.style.display = 'none';
    //         let inputs = section.querySelectorAll('input, select, textarea');
    //         inputs.forEach(function(input) {
    //             input.setAttribute('disabled', '');
    //             input.removeAttribute('required');
    //         });
    //     }
    // }

    updateFormVisibility();
</script>