<h1 class="mt-4">백업</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">백업</li>
    <li class="breadcrumb-item active">Back Up</li>
</ol>

<div class="card mb-4 col-auto">
    <div class="card-header">
      <i class="fa-solid fa-clone"></i>
        Back Up
    </div>
    <div class="card-body">
        <form id="backForm">
            <input type="hidden" id="backSource" value="backup">
            <input type="hidden" id="backDest" value="backup">

            <label for="back-mysql-srcHost" class="form-label">Back Up</label>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-user-secret"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="back-profile" name="sourcePoint[profileName]" placeholder="profile name" required>
                    <label for="back-profile">Profile</label>
                </div>
            </div>

            <div class="mb-3">
                <label for="mig-linux-path" class="form-label">Backup Path</label>

                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-folder"></i></span>
                    <div class="form-floating">
                      <input type="text" class="form-control" id="mig-linux-path" name="targetPoint[path]" value="/tmp/dummy" placeholder="디렉토리 경로">
                      <label for="mig-linux-path">Backup Path</label>
                    </div>
                </div>
            </div>




            <label for="mig-linux-path" class="form-label">Backup Service</label>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-cloud"></i></span>
                <select class="form-select" id="srcProvider" name="sourcePoint[provider]">
                    <option value="aws">AWS</option>
                    <option value="gcp">GCP</option>
                    <option value="ncp">NCP</option>
                    <!-- <option value="on-premise">On-premise</option> -->
                </select>
                <span class="input-group-text"><i class="fa-solid fa-cloud"></i></span>
                <select class="form-select" id="srcService" name="srcService">
                    <option value="objectstorage">ObjectStorage</option>
                    <option value="rdbms">RDB</option>
                    <option value="nrdbms">NRDB</option>
                    <!-- <option value="on-premise">On-premise</option> -->
                </select>
            </div>

            <div class="form-section" id="aws-objectstorage" style="display:none;">
                <div class="mb-3">    
                    <div class="form-floating">
                        <select class="form-select form-select-sm" id="mig-aws-region" name="sourcePoint[region]">
                        {{ range $index, $value := .AWSRegions }}
                        <option value="{{ $value }}">{{ $value }}</option>
                        {{ end }}
                        </select>
                        <label for="mig-aws-region">Region</label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-bucket"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="back-aws-bucket" name="sourcePoint[bucket]" placeholder="Bucket" required>
                        <label for="mig-aws-bucket">Bucket</label>
                    </div>
                </div>
            </div>

            <div class="form-section" id="gcp-objectstorage" style="display:none;">
                <!-- <label class="form-label">GCP ObjectStorage Settings</label> -->
                <div class="mb-3">    
                    <div class="form-floating">
                        <select class="form-select form-select-sm" id="mig-gcp-region" name="sourcePoint[region]">
                        {{ range $index, $value := .GCPRegions }}
                        <option value="{{ $value }}">{{ $value }}</option>
                        {{ end }}
                        </select>
                        <label for="mig-gcp-region">Region</label>
                    </div>
                </div>
                
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-bucket"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="gcp-objectstorage-bucket" name="sourcePoint[bucket]" placeholder="Bucket" required>
                        <label for="gcp-objectstorage-bucket">Bucket</label>
                    </div>
                </div>
            </div>

            <div class="form-section" id="ncp-objectstorage" style="display:none;">
                <!-- <label class="form-label">NCP ObjectStorage Settings</label> -->
                <div class="mb-3">    
                    <div class="form-floating">
                        <select class="form-select form-select-sm" id="mig-ncp-region" name="sourcePoint[region]">
                        {{ range $index, $value := .NCPRegions }}
                        <option value="{{ $value }}">{{ $value }}</option>
                        {{ end }}
                        </select>
                        <label for="mig-ncp-region">Region</label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-location-dot"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="gen-ncp-endpoint" name="sourcePoint[endpoint]" placeholder="Endpoint">
                        <label for="ncp-endpoint">Endpoint</label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-bucket"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="ncp-objectstorage-bucket" name="sourcePoint[bucket]" placeholder="Bucket" required>
                        <label for="ncp-objectstorage-bucket">Bucket</label>
                    </div>
                </div>
            </div>

            <div class="form-section" id="rdbms" style="display:none;">
                <label class="form-label">RDB Settings</label>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-house"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="mysql-srcHost" name="sourcePoint[host]" placeholder="호스트명 / IP">
                        <label for="mysql-srcHost">호스트명 / IP</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-flag"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="mysql-srcPort" name="sourcePoint[port]" placeholder="포트">
                        <label for="mysql-srcPort">포트</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="mysql-srcUsername" name="sourcePoint[username]" placeholder="사용자">
                        <label for="mysql-srcUsername">사용자</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="mysql-srcPassword" name="sourcePoint[password]" placeholder="패스워드">
                        <label for="mysql-srcPassword">패스워드</label>
                    </div>
                </div>
            </div>


            <div class="form-section" id="aws-nrdbms" style="display:none;">
                <!-- <label class="form-label">AWS NRDB Settings</label> -->
                <div class="mb-3">    
                    <div class="form-floating">
                        <select class="form-select form-select-sm" id="nrdbms-aws-region" name="sourcePoint[region]">
                        {{ range $index, $value := .AWSRegions }}
                        <option value="{{ $value }}">{{ $value }}</option>
                        {{ end }}
                        </select>
                        <label for="nrdbms-aws-region">Region</label>
                    </div>
                </div>
            </div>

            <div class="form-section" id="gcp-nrdbms" style="display:none;">
                <!-- <label class="form-label">GCP NRDB Settings</label> -->
                <div class="mb-3">    
                    <div class="form-floating">
                        <select class="form-select form-select-sm" id="nrdbms-gcp-region" name="sourcePoint[region]">
                        {{ range $index, $value := .GCPRegions }}
                        <option value="{{ $value }}">{{ $value }}</option>
                        {{ end }}
                        </select>
                        <label for="nrdbms-gcp-region">Region</label>
                    </div>
                </div>
            </div>

            <div class="form-section" id="ncp-nrdbms" style="display:none;">
                <!-- <label class="form-label">NCP NRDB Settings</label> -->
                <div class="mb-3">    
                    <div class="form-floating">
                        <select class="form-select form-select-sm" id="nrdbms-ncp-region" name="sourcePoint[region]">
                        {{ range $index, $value := .NCPRegions }}
                        <option value="{{ $value }}">{{ $value }}</option>
                        {{ end }}
                        </select>
                        <label for="nrdbms-ncp-region">Region</label>
                    </div>
                </div>
                <label class="form-label">RDB Settings</label>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-house"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="nosql-srcHost" name="sourcePoint[host]" placeholder="호스트명 / IP">
                        <label for="nosql-srcHost">호스트명 / IP</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-flag"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="nosql-srcPort" name="sourcePoint[port]" placeholder="포트">
                        <label for="nosql-srcPort">포트</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="nosql-srcUsername" name="sourcePoint[username]" placeholder="사용자">
                        <label for="nosql-srcUsername">사용자</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="nosql-srcPassword" name="sourcePoint[password]" placeholder="패스워드">
                        <label for="nosql-srcPassword">패스워드</label>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-database"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="nosql-databaseName" name="sourcePoint[databaseName]" placeholder="DataBase">
                        <label for="nosql-databaseName">DataBase Name</label>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
        </form>
    </div>
</div>

<script>
    function updateFormVisibility() {
        var provider = document.getElementById('srcProvider').value;
        var service = document.getElementById('srcService').value;
        var idToShow = provider + '-' + service;

        if (service === 'rdbms') {
            idToShow = 'rdbms';
        }

        var allInputs = document.querySelectorAll('.form-section input, .form-section select, .form-section textarea');
        allInputs.forEach(function(input) {
            if (input.type === 'checkbox' || input.type === 'radio') {
                input.checked = false;
            } else if (input.tagName.toLowerCase() === 'select') {
                input.selectedIndex = 0; 
            } else {
                input.value = '';
            }
            input.removeAttribute('required');
        });


        var formSections = document.getElementsByClassName('form-section');
        for (var i = 0; i < formSections.length; i++) {
            var section = formSections[i];
            if (section.id === idToShow) {
                section.style.display = 'block';
                var inputs = section.querySelectorAll('input, select, textarea');
                inputs.forEach(function(input) {
                    input.removeAttribute('disabled');
                    input.setAttribute('required', '');
                });
            } else {
                section.style.display = 'none';
                var inputs = section.querySelectorAll('input, select, textarea');
                inputs.forEach(function(input) {
                    input.setAttribute('disabled', '');
                    input.removeAttribute('required');
                });
            }
        }
    }

    document.getElementById('srcProvider').addEventListener('change', updateFormVisibility);
    document.getElementById('srcService').addEventListener('change', updateFormVisibility);

    updateFormVisibility();
</script>