<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            {{ if eq .Content "main" }}
                {{ template "main.html" }}
            {{ end }}

            {{ if eq .Content "Generate-Linux" }}
                {{ template "gen-linux.html" . }}
            {{ end }}
            
            {{ if eq .Content "Generate-Windows" }}
                {{ template "gen-windows.html" . }}
            {{ end }}

            {{ if eq .Content "Generate-S3" }}
                {{ template "gen-s3.html" . }}
            {{ end }}

            {{ if eq .Content "Generate-GCS" }}
                {{ template "gen-gcs.html" . }}
            {{ end }}
        
            {{ if eq .Content "Generate-NCS" }}
                {{ template "gen-ncs.html" . }}
            {{ end }}
        
            {{ if eq .Content "Generate-MySQL" }}
                {{ template "gen-mysql.html" . }}
            {{ end }}
            
            {{ if eq .Content "Generate-DynamoDB" }}
                {{ template "gen-dynamodb.html" . }}
            {{ end }}
            
            {{ if eq .Content "Generate-Firestore" }}
                {{ template "gen-firestore.html" . }}
            {{ end }}
        
            {{ if eq .Content "Generate-MongoDB" }}
                {{ template "gen-mongodb.html" . }}
            {{ end }}

        </div>
    </main>
</div>