<div class="d-flex align-items-center ms-2">
    <label for="btnFilterExpand" class="form-label">Filter</label>
    <button class="btn" id="btnFilterExpand" type="button"><i class="fa-solid fa-square-caret-down" style="font-size: 22px"></i></button>
</div>        
<div class="card rounded-3 p-3" id="filterContent" style="display:none;">
    <div class="d-flex flex-wrap gap-2">
        <div class="input-group mb-3" style="max-width: 405px;">
            <span class="input-group-text rounded-start text-center text-wrap" style="width: 80px; font-size: 0.9rem;">Path</span>
            <div class="form-floating" style="max-width: 220px;">
                <input type="text" class="form-control" id="mig-filter-path" name="sourceFilter[path]" placeholder="Path">
                <label for="mig-filter-path" id="pathLabel">Path</label>
            </div>
            <div class="rounded-end border bg-light d-flex flex-column justify-content-center ps-3 pe-3" style="max-width: 105px; font-size: 0.9rem;">
                <div class="d-flex align-items-center">
                    <input class="form-radio-input me-2" type="radio" id="mig-filter-path-include" name="sourceFilter[pathExcludeYn]" value="n" checked>
                    <label class="form-check-label" for="mig-filter-path-include">include</label>
                </div>
                <div class="d-flex align-items-center">
                    <input class="form-radio-input me-2" type="radio" id="mig-filter-path-exclude" name="sourceFilter[pathExcludeYn]" value="y">
                    <label class="form-check-label" for="mig-filter-path-exclude">exclude</label>
                </div>
            </div>
        </div>                            
    </div>
    <div class="d-flex flex-wrap gap-2">
        <div class="input-group mb-3" style="max-width: 300px;">
            <span class="input-group-text rounded-start text-wrap" style="width: 80px; font-size: 0.9rem;">File Size</span>
            <div class="form-floating">
                <input type="number" class="form-control rounded-end" id="mig-filter-minSize" name="sourceFilter[minSize]" placeholder="0" min="0">
                <label for="mig-filter-minSize">Min</label>
            </div>
        </div>
        <div class="mb-3 d-flex align-items-center">
            ~
        </div>
        <div class="input-group mb-3" style="max-width: 300px;">
            <div class="form-floating">
                <input type="number" class="form-control rounded-start" id="mig-filter-maxSize" name="sourceFilter[maxSize]" placeholder="0" min="0">
                <label for="mig-filter-maxSize">Max</label>
            </div>
            <select class="form-select rounded-end bg-light" id="mig-filter-sizeFilteringUnit" name="sourceFilter[sizeFilteringUnit]" style="max-width: 80px;">
            </select>
        </div>
    </div>
    <div class="d-flex flex-wrap gap-2">
        <div class="input-group mb-3" style="max-width: 300px;">
            <span class="input-group-text rounded-start text-wrap" style="width: 80px; font-size: 0.9rem;">Date Range</span>
            <div class="form-floating">
                <input type="text" id="datepicker1" class="form-control rounded-end" name="sourceFilter[modifiedAfter]" placeholder="Start Date">
                <label for="datepicker1">Start Date</label>
            </div>
        </div>
        <div class="mb-3 d-flex align-items-center">
            ~
        </div>
        <div class="input-group mb-3" style="max-width: 300px;">
            <div class="form-floating">
                <input type="text" id="datepicker2" class="form-control rounded-3" name="sourceFilter[modifiedBefore]" placeholder="End Date">
                <label for="datepicker1">End Date</label>
            </div>
        </div>                    
    </div>
    <div class="d-flex flex-wrap gap-2 align-items-center">
        <div class="input-group" style="max-width: 405px;">
            <span class="input-group-text rounded-start text-wrap" style="width: 80px; font-size: 0.9rem;">Contains</span>
            <div class="form-floating flex-grow-1" style="max-width: 220px;">
                <input type="text" class="form-control" id="mig-filter-texts" name="sourceFilter[contains]" placeholder="Texts">
                <label for="mig-filter-texts" id="textsLabel">Texts</label>
            </div>
            <div class="rounded-end border bg-light d-flex flex-column justify-content-center ps-3 pe-3" style="max-width: 105px; font-size: 0.9rem;">
                <div class="d-flex align-items-center">
                    <input class="form-radio-input me-2" type="radio" id="mig-filter-texts-include" name="sourceFilter[containExcludeYn]" value="n" checked>
                    <label class="form-check-label" for="mig-filter-texts-include">include</label>
                </div>
                <div class="d-flex align-items-center">
                    <input class="form-radio-input me-2" type="radio" id="mig-filter-texts-exclude" name="sourceFilter[containExcludeYn]" value="y">
                    <label class="form-check-label" for="mig-filter-texts-exclude">exclude</label>
                </div>
            </div>
        </div>
    </div>
</div>