<div class="card rounded-3 p-3 mb-3">
    <div class="alert alert-secondary rounded-1" role="alert">
        Select data type to generate
    </div>    
    <label for="checkSQL" class="form-label">structured data</label>
    <div class="input-group mb-3">
        <label class="d-flex align-items-center mb-2 ms-2 me-2" style="width: 220px;">
            <input class="form-check-input me-2" type="checkbox" id="checkSQL" name="checkSQL">
            <div class="input-group">
              <span class="input-group-text rounded-start bg-secondary bg-opacity-50 text-white">SQL</span>
              <input type="number" class="form-control text-center" id="sizeSQL" name="sizeSQL" value="10" min="1">
              <span class="input-group-text rounded-end bg-light">GB</span>
            </div>
        </label>
        <label class="d-flex align-items-center mb-2 ms-2 me-2" style="width: 220px;">
            <input class="form-check-input me-2" type="checkbox" id="checkCSV" name="checkCSV">
            <div class="input-group">
              <span class="input-group-text rounded-start bg-secondary bg-opacity-50 text-white">CSV</span>
              <input type="number" class="form-control text-center" id="sizeCSV" name="sizeCSV" value="10" min="1">
              <span class="input-group-text rounded-end bg-light">GB</span>
            </div>
        </label>
    </div>
    <label for="checkTXT" class="form-label">unstructured data</label>
    <div class="input-group mb-3">
        <label class="d-flex align-items-center mb-2 ms-2 me-2" style="width: 220px;">
            <input class="form-check-input me-2" type="checkbox" id="checkTXT" name="checkTXT">
            <div class="input-group">
              <span class="input-group-text rounded-start bg-secondary bg-opacity-50 text-white">TXT</span>
              <input type="number" class="form-control text-center" id="sizeTXT" name="sizeTXT" value="10" min="1">
              <span class="input-group-text rounded-end bg-light">GB</span>
            </div>
        </label>
        <label class="d-flex align-items-center mb-2 ms-2 me-2" style="width: 220px;">
            <input class="form-check-input me-2" type="checkbox" id="checkPNG" name="checkPNG">
            <div class="input-group">
              <span class="input-group-text rounded-start bg-secondary bg-opacity-50 text-white">PNG</span>
              <input type="number" class="form-control text-center" id="sizePNG" name="sizePNG" value="10" min="1">
              <span class="input-group-text rounded-end bg-light">GB</span>
            </div>
        </label>
        <label class="d-flex align-items-center mb-2 ms-2 me-2" style="width: 220px;">
            <input class="form-check-input me-2" type="checkbox" id="checkGIF" name="checkGIF">
            <div class="input-group">
              <span class="input-group-text rounded-start bg-secondary bg-opacity-50 text-white">GIF</span>
              <input type="number" class="form-control text-center" id="sizeGIF" name="sizeGIF" value="10" min="1">
              <span class="input-group-text rounded-end bg-light">GB</span>
            </div>
        </label>
        <label class="d-flex align-items-center mb-2 ms-2 me-2" style="width: 220px;">
            <input class="form-check-input me-2" type="checkbox" id="checkZIP" name="checkZIP">
            <div class="input-group">
              <span class="input-group-text rounded-start bg-secondary bg-opacity-50 text-white">ZIP</span>
              <input type="number" class="form-control text-center" id="sizeZIP" name="sizeZIP" value="10" min="1">
              <span class="input-group-text rounded-end bg-light">GB</span>
            </div>
        </label>
    </div>
    <label for="checkJSON" class="form-label">semi-structured data</label>
    <div class="input-group mb-3">
        <label class="d-flex align-items-center mb-2 ms-2 me-2" style="width: 220px;">
            <input class="form-check-input me-2" type="checkbox" id="checkJSON" name="checkJSON">
            <div class="input-group">
              <span class="input-group-text rounded-start bg-secondary bg-opacity-50 text-white">JSON</span>
              <input type="number" class="form-control text-center" id="sizeJSON" name="sizeJSON" value="10" min="1">
              <span class="input-group-text rounded-end bg-light">GB</span>
            </div>
        </label>
        <label class="d-flex align-items-center mb-2 ms-2 me-2" style="width: 220px;">
            <input class="form-check-input me-2" type="checkbox" id="checkXML" name="checkXML">
            <div class="input-group">
              <span class="input-group-text rounded-start bg-secondary bg-opacity-50 text-white">XML</span>
              <input type="number" class="form-control text-center" id="sizeXML" name="sizeXML" value="10" min="1">
              <span class="input-group-text rounded-end bg-light">GB</span>
            </div>
        </label>
    </div>    
    <label for="checkServerJSON" class="form-label">others</label>
    <div class="input-group">
        <label class="d-flex align-items-center ms-2 me-2" style="width: 220px;">
            <input class="form-check-input me-2" type="checkbox" id="checkServerJSON" name="checkServerJSON">
            <div class="input-group">
              <span class="input-group-text rounded-start bg-secondary bg-opacity-50 text-white">JSON</span>
              <input type="number" class="form-control text-center" id="sizeServerJSON" name="sizeServerJSON" value="1" min="1">
              <span class="input-group-text rounded-end bg-light">Set</span>
            </div>
        </label>
        <label class="d-flex align-items-center ms-2 me-2" style="width: 220px;">
            <input class="form-check-input me-2" type="checkbox" id="checkServerSQL" name="checkServerSQL">
            <div class="input-group">
              <span class="input-group-text rounded-start bg-secondary bg-opacity-50 text-white">XML</span>
              <input type="number" class="form-control text-center" id="sizeServerSQL" name="sizeServerSQL" value="1" min="1" >
              <span class="input-group-text rounded-end bg-light">Set</span>
            </div>
        </label>
    </div>
</div>