{{ define "gen-mongodb.html" }}

<h1 class="mt-4">데이터 생성 MongoDB</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">데이터 생성</li>
    <li class="breadcrumb-item active">MongoDB</li>
</ol>

<div class="card mb-4 col-auto">
    <div class="card-header">
        <i class="bi bi-database"></i>
        MongoDB
    </div>
    <div class="card-body">
        <form action="/generate/mongodb" method="POST">
           
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-house"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="gen-mongodb-host" name="host" placeholder="호스트명 / IP">
                    <label for="gen-mongodb-host">호스트명 / IP</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-flag"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="gen-mongodb-port" name="port" placeholder="포트">
                    <label for="gen-mongodb-port">포트</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="gen-mongodb-username" name="username" placeholder="사용자">
                    <label for="gen-mongodb-username">사용자</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                <div class="form-floating">
                    <input type="password" class="form-control" id="gen-mongodb-password" name="password" placeholder="패스워드">
                    <label for="gen-mongodb-password">패스워드</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="gen-mongodb-databaseName" name="databaseName" placeholder="dbName">
                    <label for="gen-mongodb-databaseName">DBName</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">생성</button>
        </form>
    </div>
</div>

{{ end }}