<div class="mb-3">
    <div class="alert alert-secondary" role="alert">
        생성할 데이터 선택
    </div>
    
    <label for="checkSQL" class="form-label">정형 데이터</label>
    <div class="input-group mb-3">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkSQL" name="checkSQL" value="sql">
            <!-- <label class="form-check-label" for="checkSQL">SQL</label> -->
            <span class="badge bg-warning">SQL</span>
            <input type="number" class="form-input" id="sizeSQL" name="sizeSQL" value="10" min="1" style="width: 60px;">
            <span>GB</span>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkCSV" name="checkCSV" value="csv"> 
            <!-- <label class="form-check-label" for="checkCSV">CSV</label> -->
            <span class="badge bg-success">CSV</span>
            <input type="number" class="form-input" id="sizeCSV" name="sizeCSV" value="10" min="1" style="width: 60px;">
            <span>GB</span>
        </div>
    </div>

    <label for="checkTXT" class="form-label">비정형 데이터</label>
    <div class="input-group mb-3">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkTXT" name="checkTXT" value="txt">
            <!-- <label class="form-check-label" for="checkTXT">TXT</label> -->
            <span class="badge bg-dark">TXT</span>
            <input type="number" class="form-input" id="sizeTXT" name="sizeTXT" value="10" min="1" style="width: 60px;">
            <span>GB</span>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkPNG" name="checkPNG" value="png"> 
            <!-- <label class="form-check-label" for="checkPNG">PNG</label> -->
            <span class="badge bg-danger">PNG</span>
            <input type="number" class="form-input" id="sizePNG" name="sizePNG" value="10" min="1" style="width: 60px;">
            <span>GB</span>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkGIF" name="checkGIF" value="gif"> 
            <!-- <label class="form-check-label" for="checkGIF">GIF</label> -->
            <span class="badge bg-success">GIF</span>
            <input type="number" class="form-input" id="sizeGIF" name="sizeGIF" value="10" min="1" style="width: 60px;">
            <span>GB</span>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkZIP" name="checkZIP" value="zip"> 
            <!-- <label class="form-check-label" for="checkZIP">ZIP</label> -->
            <span class="badge bg-primary">ZIP</span>
            <input type="number" class="form-input" id="sizeZIP" name="sizeZIP" value="10" min="1" style="width: 60px;">
            <span>GB</span>
        </div>
    </div>

    <label for="checkJSON" class="form-label">반정형 데이터</label>
    <div class="input-group mb-3">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkJSON" name="checkJSON" value="json">
            <!-- <label class="form-check-label" for="checkJSON">JSON</label> -->
            <span class="badge bg-success">JSON</span>
            <input type="number" class="form-input" id="sizeJSON" name="sizeJSON" value="10" min="1" style="width: 60px;">
            <span>GB</span>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="checkXML" name="checkXML" value="xml"> 
            <!-- <label class="form-check-label" for="checkXML">XML</label> -->
            <span class="badge bg-primary">XML</span>
            <input type="number" class="form-input" id="sizeXML" name="sizeXML" value="10" min="1" style="width: 60px;">
            <span>GB</span>
        </div>
    </div>

</div>