<ol class="breadcrumb mb-1" style="margin-top: 66px;">
    <li class="breadcrumb-item">Setting</li>
    <li class="breadcrumb-item active">Credential</li>
</ol>
<h1 class="mb-4">Credential</h1>

<div class="card mb-4 col-auto">
    <div class="card-header">
        Credential
    </div>
    <div class="card-body">        
        <form id="credentialForm">

             <div class="mb-3">
                <label for="setting-credential" class="form-label">Credential</label>

                <div class="form-floating">
                    <select class="form-select form-select-sm w-50" id="setting-credential" name="settingCredential">
                    <option value="aws">AWS</option>                    
                    <option value="gcp">GCP</option>
                    <option value="ncp">NCP</option>
                    </select>
                    <label for="setting-credential">CSP 선택</label>
                </div>
            </div>

            <div class="mb-3">
                <label for="gen-linux-path" class="form-label">크레덴셜 이름</label>

                <div class="input-group">                    
                    <div class="form-floating">
                      <input type="text" class="form-control" id="gen-linux-path" name="dummyPath" value="" placeholder="크레덴셜 이름">
                      <label for="gen-linux-path">크레덴셜 이름</label>
                    </div>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="mig-aws-accessKey" name="awsAccessKey" placeholder="Access Key" required>
                    <label for="mig-aws-accessKey">Access Key</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                <div class="form-floating">
                    <input type="password" class="form-control" id="mig-aws-secretKey" name="awsSecretKey" placeholder="Secret Key" required>
                    <label for="mig-aws-secretKey">Secret Key</label>
                </div>
            </div>

        </form>
    </div>
</div>