<ol class="breadcrumb mb-1" style="margin-top: 66px;">
    <li class="breadcrumb-item">Generate</li>
</ol>
<h2 class="page-title">No-SQL</h2>

<div class="card mb-4 rounded-3 col-auto">
  <ul class="nav nav-tabs pt-2 ps-2" id="serviceTabs">
    <!-- <li class="nav-item">
      {{if eq .OS "linux"}}
      <a class="nav-link" href="/generate/linux">On-Premise</a>
      {{else}}
      <a class="nav-link" href="/generate/windows">On-Premise</a>
      {{end}}
    </li> -->
    <li class="nav-item">
      <a class="nav-link" href="/generate/objectstorage">Object Storage</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/generate/mysql">SQL Database</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">No-SQL</a>
    </li>
  </ul>
  <div class="card-body">
    <!-- <form action="/generate/dynamodb" method="POST"> -->
    <form id="genForm">
      <div class="input-group mb-3">
          <div class="form-floating">
              <input type="text" class="form-control" id="targetPointLabel" value="-" style="border: 0; background-color: white;" value="-" required disabled>
              <label for="targetPointLabel">Target</label>
          </div>
      </div>
      <div class="input-group mb-3 me-1">
        <span class="input-group-text rounded-start"><i class="fa-solid fa-user-secret"></i></span>
        <div class="form-floating">
          <select class="form-select form-select-sm rounded-end" id="targetCredentialSelect" name="targetPoint[credentialId]">
            <option value="none" data-provider="none"> - </option>
          </select>
          <label for="targetCredentialSelect">provider - credential name</label>
        </div>
      </div>
      <div class="input-group mb-3 me-1">
        <span class="input-group-text rounded-start"><i class="fa-solid fa-globe"></i></span>
        <div class="form-floating">
          <select class="form-select form-select-sm rounded-end" id="targetRegionSelect" name="targetPoint[region]">
            <option value="none" selected> - </option>
            <optgroup label="AWS regions" data-provider="aws" style="display: none;">
              {{ range $index, $value := .AWSRegions }}
              <option value="{{ $value }}">{{ $value }}</option>
              {{ end }}
            </optgroup>
            <optgroup label="GCP regions" data-provider="gcp" style="display: none;">
              {{ range $index, $value := .GCPRegions }}
              <option value="{{ $value }}">{{ $value }}</option>
              {{ end }}
            </optgroup>
            <optgroup label="NCP regions" data-provider="ncp" style="display: none;">
              {{ range $index, $value := .NCPRegions }}
              <option value="{{ $value }}">{{ $value }}</option>
              {{ end }}
            </optgroup>                            
          </select>
          <label for="targetRegionSelect">Select Region</label>
        </div>
        <!-- <div class="form-floating">
          <select
            class="form-select form-select-sm w-50"
            id="gen-dynamodb-region"
            name="region"
          >
            {{ range $index, $value := .Regions }}
            <option value="{{ $value }}">{{ $value }}</option>
            {{ end }}
          </select>
          <label for="gen-dynamodb-region">Select Region</label>
        </div> -->
      </div>
      <div class="input-group mb-3 me-1" id="gcp-database-div" style="display: none;">
        <div class="input-group mb-3">
          <span class="input-group-text rounded-start"><i class="fa-solid fa-folder"></i></span>
          <div class="form-floating">
            <input type="text" class="form-control rounded-end" id="gen-databaseId" name="databaseId" placeholder="database id">
            <label for="gen-databaseId">Database Id</label>
          </div>
        </div>
      </div>
      <div class="input-group mb-3 me-1" id="ncp-mongo-div" style="display: none;">
        <div class="input-group mb-3">
          <span class="input-group-text rounded-start"><i class="fa-solid fa-house"></i></span>
          <div class="form-floating">
            <input type="text" class="form-control rounded-end" id="gen-mongodb-host" name="host" placeholder="Host / IP" required>
            <label for="gen-mongodb-host">Host / IP</label>
          </div>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text rounded-start"><i class="fa-solid fa-flag"></i></span>
          <div class="form-floating">
            <input type="text" class="form-control rounded-end" id="gen-mongodb-port" name="port" placeholder="Port" required>
            <label for="gen-mongodb-port">Port</label>
          </div>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text rounded-start"><i class="fa-solid fa-user"></i></span>
          <div class="form-floating">
            <input type="text" class="form-control rounded-end" id="gen-mongodb-username" autocomplete="username" name="username" placeholder="Username" required>
            <label for="gen-mongodb-username">Username</label>
          </div>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text rounded-start"><i class="fa-solid fa-lock"></i></span>
          <div class="form-floating">
            <input type="password" class="form-control rounded-end" id="gen-mongodb-password" name="password" placeholder="Password" required>
            <label for="gen-mongodb-password">Password</label>
          </div>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text rounded-start"><i class="fa-solid fa-database"></i></span>
          <div class="form-floating">
            <input type="text" class="form-control rounded-end" id="gen-mongodb-databaseName" name="databaseName" placeholder="dbName" required>
            <label for="gen-mongodb-databaseName">Database Name</label>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary rounded-1" id="submitBtn">Submit</button>
      <input type="hidden" id="genTarget" value="nrdbms" />
      <input type="hidden" id="targetPoint[provider]" value="none">
    </form>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const hiddenInput = document.getElementById("targetPoint[provider]");
    
    document.getElementById('targetPoint[provider]').addEventListener('change', e => {
      updateFormVisibility()
    });
  });

  function updateLabel(provider) {
    const serviceMap = {
      aws: "AWS DynamoDB",
      ncp: "Naver MongoDB",
      gcp: "Google Firestore",
    };

    let serviceName = serviceMap[provider] || "-";

    const select = document.getElementById("targetPointLabel");   // label 갱신
    select.value = serviceName
  }

  function updateFormVisibility() {
    const provider = document.getElementById('targetPoint[provider]').value;
    const gcpDiv = document.getElementById('gcp-database-div')
    const ncpDiv = document.getElementById('ncp-mongo-div')
    gcpDiv.style.display = 'none';
    ncpDiv.style.display = 'none';

    updateLabel(provider)

    if(provider === 'gcp') {
      gcpDiv.style.display = '';
      gcpDiv.querySelectorAll('input').forEach(i => {
        i.removeAttribute('disabled');
        i.setAttribute('required', '');
      })
    } else if(provider === 'ncp') {
      ncpDiv.style.display = '';
      ncpDiv.querySelectorAll('input').forEach(i => {
        i.removeAttribute('disabled');
        i.setAttribute('required', '');
      })
    } else {
      gcpDiv.querySelectorAll('input').forEach(i => {
        i.setAttribute('disabled', '');
        i.removeAttribute('required');
      })
      ncpDiv.querySelectorAll('input').forEach(i => {
        i.setAttribute('disabled', '');
        i.removeAttribute('required');
      })
    }
  }

  updateFormVisibility();
</script>