{{ define "gen-s3.html" }}

<h1 class="mt-4">데이터 생성 S3</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">데이터 생성</li>
    <li class="breadcrumb-item active">S3</li>
</ol>

<div class="card mb-4 col-auto">
    <div class="card-header">
        <i class="fab fa-aws"></i>
        S3
    </div>
    <div class="card-body">
        <!-- <form action="/generate/aws" method="POST"> -->
        <form id="genForm">

            <div class="mb-3">
                <div class="form-floating">
                    <select class="form-select form-select-sm w-50" id="gen-s3-region" name="region">
                    <!-- <option selected>Region</option> -->
                    {{ range $index, $value := .Regions }}
                    <option value="{{ $value }}">{{ $value }}</option>
                    {{ end }}
                    </select>
                    <label for="gen-s3-region">리전 선택</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="gen-s3-accessKey" name="accessKey" placeholder="Access Key" required>
                    <label for="gen-s3-apiKey">Access Key</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                <div class="form-floating">
                    <input type="password" class="form-control" id="gen-s3-secretKey" name="secretKey" placeholder="Secret Key" required>
                    <label for="gen-s3-secretKey">Secret Key</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-bucket"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="gen-s3-bucket" name="bucket" placeholder="Bucket" required>
                    <label for="gen-s3-bucket">Bucket</label>
                </div>
            </div>

            {{ template "gen-data.html" . }}

            <button type="submit" class="btn btn-primary" id="submitBtn">생성</button>
            <input type="hidden" id="genTarget" value="s3">
        </form>
    </div>
</div>

{{ end }}