{{ define "gen-mysql.html" }}

<h1 class="mt-4">데이터 생성 MySQL</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">데이터 생성</li>
    <li class="breadcrumb-item active">MySQL</li>
</ol>

<div class="card mb-4 col-auto">
    <div class="card-header">
        <i class="fa-solid fa-database"></i>
        MySQL
    </div>
    <div class="card-body">
        <!-- <form action="/generate/mysql" method="POST"> -->
        <form id="genForm">

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-cloud"></i></span>
                <select class="form-select" id="provider" name="provider">
                    <option value="aws">AWS</option>
                    <option value="gcp">GCP</option>
                    <option value="ncp">NCP</option>
                    <option value="on-premise">On-premise</option>
                </select>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-house"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="gen-mysql-host" name="host" placeholder="호스트명 / IP">
                    <label for="gen-mysql-host">호스트명 / IP</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-flag"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="gen-mysql-port" name="port" placeholder="포트">
                    <label for="gen-mysql-port">포트</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="gen-mysql-username" name="username" placeholder="사용자">
                    <label for="gen-mysql-username">사용자</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                <div class="form-floating">
                    <input type="password" class="form-control" id="gen-mysql-password" name="password" placeholder="패스워드">
                    <label for="gen-mysql-password">패스워드</label>
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">생성</button>
            <input type="hidden" id="genTarget" value="mysql">
        </form>
    </div>
</div>

{{ end }}