<ol class="breadcrumb mb-1" style="margin-top: 66px;">
    <li class="breadcrumb-item">Setting</li>
    <li class="breadcrumb-item active">Credential</li>
</ol>
<h1 class="mb-4">Credential</h1>

<div class="card mb-4 col-auto">
    <div class="card-header">
        Credential
    </div>
    <div class="card-body">        
        <form id="credentialForm">

             <div class="mb-3">
                <label for="select-credential-csp" class="form-label">Select Cloud Service Provider</label>

                <div class="form-floating">
                    <select class="form-select form-select-sm w-50" id="select-credential-csp" name="cspType">
                    <option value="aws">AWS</option>
                    <option value="gcp">GCP</option>
                    <option value="ncp">NCP</option>
                    </select>
                    <label for="select-credential-csp">Select CSP</label>
                </div>
            </div>

            <div class="mb-3">
                <label for="gen-linux-path" class="form-label">Credential Name</label>

                <div class="input-group">                    
                    <div class="form-floating">
                      <input type="text" class="form-control" id="gen-linux-path" name="name" value="" placeholder="Name">
                      <label for="gen-linux-path">Name</label>
                    </div>
                </div>
            </div>

            <div id="credential-dynamicForm">

                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="mig-aws-accessKey" name="accessKey" placeholder="Access Key" required>
                        <label for="mig-aws-accessKey">Access Key</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="mig-aws-secretKey" name="secretKey" placeholder="Secret Key" required>
                        <label for="mig-aws-secretKey">Secret Key</label>
                    </div>
                </div>

                <!-- <div class="input-group mb-3">
                    <span class="input-group-text">Type</span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="mig-gcp-type" name="type" placeholder="Input Type" required>
                        <label for="mig-gcp-type">Input Type</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Project Id</span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="mig-gcp-projectid" name="project_id" placeholder="Input Project Id" required>
                        <label for="mig-gcp-projectid">Input Project Id</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Private Key Id</span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="mig-gcp-private-key-id" name="private_key_id" placeholder="Input Private Key Id" required>
                        <label for="mig-gcp-private-key-id">Input Private Key Id</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Private Key</span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="mig-gcp-private-key" name="private_key" placeholder="Input Private Key" required>
                        <label for="mig-gcp-private-key">Input Private Key</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Client Email</span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="mig-gcp-client-email" name="client_email" placeholder="Input Client Email" required>
                        <label for="mig-gcp-client-email">Input Client Email</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Client Id</span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="mig-gcp-client-id" name="client_id" placeholder="Input Client Id" required>
                        <label for="mig-gcp-client-id">Input Client Id</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Auth Uri</span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="mig-gcp-auth-uri" name="auth_uri" placeholder="Input Auth Uri" required>
                        <label for="mig-gcp-auth-uri">Input Auth Uri</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Token Uri</span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="mig-gcp-token-uri" name="token_uri" placeholder="Input Token Uri" required>
                        <label for="mig-gcp-token-uri">Input Token Uri</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Auth Provider X509 Cert Url</span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="mig-gcp-auth-provider-x509-cert-url" name="auth_provider_x509_cert_url" placeholder="Input Auth Provider X509 Cert Url" required>
                        <label for="mig-gcp-auth-provider-x509-cert-url">Input Auth Provider X509 Cert Url</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Client X509 Cert Url</span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="mig-gcp-client-x509-cert-url" name="client_x509_cert_url" placeholder="Input Client X509 Cert Url" required>
                        <label for="mig-gcp-client-x509-cert-url">Input Client X509 Cert Url</label>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Universe Domain</span>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="mig-gcp-universe-domain" name="universe_domain" placeholder="Input Universe Domain" required>
                        <label for="mig-gcp-universe-domain">Input Universe Domain</label>
                    </div>
                </div> -->

            </div>

            <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>

        </form>
    </div>
</div>