{{ define "gen-firestore.html" }}

<ol class="breadcrumb mb-1" style="margin-top: 66px;">
    <li class="breadcrumb-item">Data Migrations</li>
    <li class="breadcrumb-item">Generate</li>
    <li class="breadcrumb-item">No-SQL Database</li>
    <li class="breadcrumb-item active">Firestore</li>
</ol>
<h1 class="mb-4">Firestore Data Generate</h1>

<div class="card mb-4 col-auto">
    <div class="card-header">
        <i class="bi bi-database"></i>
        Firestore
    </div>
    <div class="card-body">
        <!-- <form action="/generate/firestore" method="POST" enctype="json"> -->
        <form id="genForm">
            
            <div class="mb-3">
                <div class="form-floating">
                    <select class="form-select form-select-sm w-50" id="gen-firestore-region" name="region">
                    <!-- <option selected>Region</option> -->
                    {{ range $index, $value := .Regions }}
                    <option value="{{ $value }}">{{ $value }}</option>
                    {{ end }}
                    </select>
                    <label for="gen-firestore-region">Select Region</label>
                </div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-user-secret"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="gen-s3-profile" name="profileName" placeholder="profile name" required>
                    <label for="gen-s3-profile">Profile</label>
                </div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-folder"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="gen-s3-profile" name="databaseId" placeholder="database id">
                    <label for="gen-s3-databaseId">DatabaseId</label>
                </div>
            </div>


            <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
            <input type="hidden" id="genTarget" value="nrdbms">
            <input type="hidden" id="provider" value="gcp">
        </form>
    </div>
</div>

{{ end }}