<ol class="breadcrumb mb-1" style="margin-top: 66px;">
    <li class="breadcrumb-item">Generate</li>
</ol>
<h2 class="page-title">Object Storage</h2>

<div class="card mb-4 rounded-3 col-auto">
    <ul class="nav nav-tabs pt-2 ps-2" id="serviceTabs">
        <li class="nav-item">
            {{if eq .OS "linux"}}
            <a class="nav-link" href="/generate/linux">On-Premise</a>
            {{else}}
            <a class="nav-link" href="/generate/windows">On-Premise</a>
            {{end}}
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Object Storage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/generate/mysql">SQL Database</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/generate/no-sql">No-SQL</a>
        </li>
    </ul>
    <div class="card-body">
        <!-- <form action="/generate/aws" method="POST"> -->
        <form id="genForm">
            <div class="input-group mb-3">
                <div class="form-floating">
                    <input type="text" class="form-control" id="targetPointLabel" value="-" style="border: 0; background-color: white;" value="-" required disabled>
                    <label for="targetPointLabel">Target</label>
                </div>
            </div>
            <div class="input-group mb-3 me-1">
                <span class="input-group-text rounded-start"><i class="fa-solid fa-user-secret"></i></span>
                <div class="form-floating">
                    <select class="form-select form-select-sm rounded-end" id="targetCredentialSelect" name="targetPoint[credentialId]">
                        <option value="none" data-provider="none"> - </option>
                    </select>
                    <label for="targetCredentialSelect">provider - credential name</label>
                </div>
            </div>
            <div class="input-group mb-3 me-1">
                <span class="input-group-text rounded-start"><i class="fa-solid fa-globe"></i></span>
                <div class="form-floating">
                    <select class="form-select form-select-sm rounded-end" id="targetRegionSelect" name="targetPoint[region]">
                        <option value="none" selected> - </option>
                        <optgroup label="AWS regions" data-provider="aws" style="display: none;">
                            {{ range $index, $value := .AWSRegions }}
                            <option value="{{ $value }}">{{ $value }}</option>
                            {{ end }}
                        </optgroup>
                        <optgroup label="GCP regions" data-provider="gcp" style="display: none;">
                            {{ range $index, $value := .GCPRegions }}
                            <option value="{{ $value }}">{{ $value }}</option>
                            {{ end }}
                        </optgroup>
                        <optgroup label="NCP regions" data-provider="ncp" style="display: none;">
                            {{ range $index, $value := .NCPRegions }}
                            <option value="{{ $value }}">{{ $value }}</option>
                            {{ end }}
                        </optgroup>                            
                    </select>
                    <label for="targetRegionSelect">Select Region</label>
                </div>
            </div>
            
            <div class="input-group mb-3" id="ncp-endpoint-div">
                <span class="input-group-text rounded-start"><i class="fa-solid fa-location-dot"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control rounded-end" id="gen-ncp-endpoint" name="endpoint" placeholder="Endpoint">
                    <label for="gen-ncp-endpoint">Endpoint</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text rounded-start"><i class="fa-solid fa-bucket"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control rounded-end" id="gen-s3-bucket" name="bucket" placeholder="Bucket" required>
                    <label for="gen-s3-bucket">Bucket</label>
                </div>
            </div>

            {{ template "gen-data.html" . }}

            <button type="submit" class="btn btn-primary rounded-1" id="submitBtn">Submit</button>
            <input type="hidden" id="genTarget" value="objectstorage">
            <input type="hidden" id="targetPoint[provider]" value="none">
        </form>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const hiddenInput = document.getElementById("targetPoint[provider]");
      
        document.getElementById('targetPoint[provider]').addEventListener('change', e => {
            updateFormVisibility()
        });
    });

    function updateLabel(provider) {
        const serviceMap = {
            aws: "AWS S3",
            ncp: "Naver Object Storage",
            gcp: "Google Cloud Storage",
        };

        let serviceName = serviceMap[provider] || "-";

        const select = document.getElementById("targetPointLabel");   // label 갱신
        select.value = serviceName
    }

    function updateFormVisibility() {
        const provider = document.getElementById('targetPoint[provider]').value;
        const ncpDiv = document.getElementById('ncp-endpoint-div')
        ncpDiv.style.display = 'none';

        updateLabel(provider)
  
        if(provider === 'ncp') {
            ncpDiv.style.display = '';
            ncpDiv.querySelectorAll('input').forEach(i => {
                i.removeAttribute('disabled');
                i.setAttribute('required', '');
            })
        } else {
            ncpDiv.querySelectorAll('input').forEach(i => {
                i.setAttribute('disabled', '');
                i.removeAttribute('required');
            })
        }
    }
  
    updateFormVisibility();
  </script>