{{ define "gen-ncs.html" }}

<h1 class="mt-4">데이터 생성 NCS</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">데이터 생성</li>
    <li class="breadcrumb-item active">NCS</li>
</ol>

<div class="card mb-4 col-auto">
    <div class="card-header">
        <i class="fa-solid fa-n"></i>
        Naver Cloud Storage
    </div>
    <div class="card-body">
        <form action="/generate/ncs" method="POST">
            
            <div class="mb-3">
                <div class="form-floating">
                    <select class="form-select form-select-sm w-50" id="gen-ncs-region" name="region">
                    <!-- <option selected>Region</option> -->
                    {{ range $index, $value := .Regions }}
                    <option value="{{ $value }}">{{ $value }}</option>
                    {{ end }}
                    </select>
                    <label for="gen-ncs-region">리전 선택</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-bucket"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="gen-ncs-bucket" name="bucket" placeholder="Bucket">
                    <label for="gen-ncs-bucket">Bucket</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-location-dot"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="gen-ncs-endpoint" name="endpoint" placeholder="Endpoint">
                    <label for="gen-ncs-endpoint">Endpoint</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="gen-ncs-accessKey" name="accessKey" placeholder="Access Key">
                    <label for="gen-ncs-accessKey">Access Key</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                <div class="form-floating">
                    <input type="password" class="form-control" id="gen-ncs-secretKey" name="secretKey" placeholder="Secret Key">
                    <label for="gen-ncs-secretKey">Secret Key</label>
                </div>
            </div>

            {{ template "gen-data.html" . }}

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{{ end }}