
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>Cloud-Barista Data Manager</title>
        
        <!-- <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" /> -->
        <link href="/res/css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Ace Editor 스크립트 로드 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.9.6/ace.js"  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!-- 모드 및 테마 파일 로드 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.9.6/mode-json.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.9.6/theme-github.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.9.6/ext-beautify.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>

    <body class="sb-nav-fixed sb-sidenav-toggled" style="background-color: #f6f8fb;">
        <nav class="sb-topnav navbar navbar-expand">
            <!-- Navbar Brand-->
            <!-- <a class="navbar-brand ps-3" href="/">Data Manager</a> -->
            <!-- <span class="navbar-brand ps-3">Data Migrations</span> -->
            <!-- Sidebar Toggle-->
            <!-- <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button> -->
            <!-- Navbar Search-->
            <!-- <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"> -->
                <!-- <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div> -->
            <!-- </form> -->
            <!-- Navbar-->
            <nav class="navbar navbar-expand">
                <div class="container-fluid">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            {{if eq .OS "linux"}}
                            <a class="nav-link" href="/generate/linux">Generate</a>
                            {{else}}
                            <a class="nav-link" href="/generate/windows">Generate</a>
                            {{end}}
                            <!-- <a class="nav-link" href="/generate/on-premise">Generate</a> -->
                            <!-- <a class="nav-link dropdown-toggle active-depth1" href="#" role="button" data-bs-toggle="dropdown">Generate</a> -->
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="/migrate/objectstorage">Migration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/backup/register">Back up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/restore/register">Restore</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div></div>
            <ul class="navbar-nav ms-auto me-2">
            <!-- <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4"> -->
                <li class="nav-item dropdown">
                    <a class="nav-link" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-bars"></i></a>
                    <!-- <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a> -->
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <!-- <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li> -->
                        <!-- <li><hr class="dropdown-divider" /></li> -->
                        <li><a class="dropdown-item" href="#!" id="genServiceLink">Gen Service</a></li>
                        <li><a class="dropdown-item" href="#!" id="delServiceLink">Del Service</a></li>
                        <!-- <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!" id="clearServiceLink">Clear Task</a></li> -->
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="/generate/credential">Create Credential</a></li>
                        <!-- <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li> -->
                    </ul>
                </li>
            </ul>
        </nav>