<h1 class="mt-4">마이그레이션 Google Cloud Storage</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">마이그레이션</li>
    <li class="breadcrumb-item active">GCS to Linux</li>
</ol>

<div class="card mb-4 col-auto">
    <div class="card-header">
        Google Cloud Storage to Linux
    </div>
    <div class="card-body">
        <!-- <form action="/migration/gcs/linux" method="POST" enctype="multipart/form-data"> -->
        <form id="migForm">
            <input type="hidden" id="migSource" value="gcs">
            <input type="hidden" id="migDest" value="linux">

            <div class="mb-3">
                <label for="mig-gcp-region" class="form-label">Google Cloud Storage</label>

                <div class="form-floating">
                    <select class="form-select form-select-sm w-50" id="mig-gcp-region" name="gcpRegion">
                    <!-- <option selected>Region</option> -->
                    {{ range $index, $value := .Regions }}
                    <option value="{{ $value }}">{{ $value }}</option>
                    {{ end }}
                    </select>
                    <label for="mig-gcp-region">리전 선택</label>
                </div>
            </div>
           
            <div class="mb-3">
                <label for="mig-gcp-credential" class="form-label">Credentials 파일</label>
                <input class="form-control" type="file" id="mig-gcp-credential" name="gcpCredential" required>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-id-card"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="gen-gcp-projectid" name="projectid" placeholder="ProjectID" required>
                    <label for="mig-gcp-projectID">ProjectID</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-bucket"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="mig-gcp-bucket" name="gcpBucket" placeholder="Bucket" required>
                    <label for="mig-gcp-bucket">Bucket</label>
                </div>
            </div>

            <div class="mb-3">
                <label for="mig-linux-path" class="form-label">Linux 마이그레이션 목표 데이터 경로</label>

                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-folder"></i></span>
                    <div class="form-floating">
                      <input type="text" class="form-control" id="mig-linux-path" name="path" value="/tmp/dummy" placeholder="디렉토리 경로">
                      <label for="mig-linux-path">디렉토리 경로</label>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" id="submitBtn">실행</button>

        </form>
    </div>
</div>