<ol class="breadcrumb mb-1" style="margin-top: 66px;">
    <li class="breadcrumb-item">Data Migrations</li>
    <li class="breadcrumb-item">Migration</li>
    <li class="breadcrumb-item">Object Storage</li>
    <li class="breadcrumb-item active">GCP to AWS S3</li>
</ol>
<h1 class="mb-4">Migration Google Cloud Storage</h1>

<div class="card mb-4 col-auto">
    <div class="card-header">
        Google Cloud Storage to AWS S3
    </div>
    <div class="card-body">
        <!-- <form action="/migration/gcp/aws" method="POST" enctype="json"> -->
        <form id="migForm">
            <input type="hidden" id="migService" value="objectstorage">
            <input type="hidden" id="migSource" value="gcp">
            <input type="hidden" id="migDest" value="aws">
            <input type="hidden" id="sourcePoint[provider]" value="gcp">
            <input type="hidden" id="targetPoint[provider]" value="aws">

            <div class="mb-3">
                <label for="mig-gcp-region" class="form-label">
                    <strong>
                        Source (GCP Firestore)
                    </strong>
                </label>

                <div class="form-floating">
                    <select class="form-select form-select-sm w-50" id="mig-gcp-region" name="sourcePoint[region]">
                    <!-- <option selected>Region</option> -->
                    {{ range $index, $value := .GCPRegions }}
                    <option value="{{ $value }}">{{ $value }}</option>
                    {{ end }}
                    </select>
                    <label for="mig-gcp-region">Select Region</label>
                </div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-user-secret"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="gen-s3-profile" name="sourcePoint[profileName]" placeholder="profile name" required>
                    <label for="gen-s3-profile">Profile</label>
                </div>
            </div>

           
           
            <!-- <div class="mb-3">
                <label for="mig-gcp-credential" class="form-label">Credentials 파일</label>
                <input class="form-control" type="file" id="mig-gcp-credential" name="gcpCredential" required>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-id-card"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="gen-gcp-projectid" name="projectid" placeholder="ProjectID" required>
                    <label for="mig-gcp-projectID">ProjectID</label>
                </div>
            </div> -->

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-bucket"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="mig-gcp-bucket" name="sourcePoint[bucket]" placeholder="Bucket" required>
                    <label for="mig-gcp-bucket">Bucket</label>
                </div>
            </div>

            <div class="mb-3">
                <label for="mig-aws-region" class="form-label">
                    <strong>
                        Target (AWS S3)
                    </strong>
                </label>

                <div class="form-floating">
                    <select class="form-select form-select-sm w-50" id="mig-aws-region" name="targetPoint[region]">
                    <!-- <option selected>Region</option> -->
                    {{ range $index, $value := .AWSRegions }}
                    <option value="{{ $value }}">{{ $value }}</option>
                    {{ end }}
                    </select>
                    <label for="mig-aws-region">Select Region</label>
                </div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-user-secret"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="gen-s3-profile" name="targetPoint[profileName]" placeholder="profile name" required>
                    <label for="gen-s3-profile">Profile</label>
                </div>
            </div>

            <!-- <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="mig-aws-accessKey" name="awsAccessKey" placeholder="Access Key" required>
                    <label for="mig-aws-accessKey">Access Key</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                <div class="form-floating">
                    <input type="password" class="form-control" id="mig-aws-secretKey" name="awsSecretKey" placeholder="Secret Key" required>
                    <label for="mig-aws-secretKey">Secret Key</label>
                </div>
            </div> -->

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-bucket"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="mig-aws-bucket" name="targetPoint[bucket]" placeholder="Bucket" required>
                    <label for="mig-aws-bucket">Bucket</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>

        </form>
    </div>
</div>