<ol class="breadcrumb mb-1" style="margin-top: 66px;">
    <li class="breadcrumb-item">Migration</li>
</ol>
<h2 class="page-title">Object Storage</h2>

<div class="card rounded-3 mb-4 col-auto">
    <ul class="nav nav-tabs pt-2 ps-2">
        <li class="nav-item">
            <a class="nav-link active" href="#">Object Storage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/migrate/mysql">
                SQL Database
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/migrate/no-sql">No-SQL</a>
        </li>
    </ul>
    <div class="card-body">
        <form id="migForm">
            <input type="hidden" id="migService" value="objectstorage">
            <input type="hidden" id="sourcePoint[provider]" value="none">
            <input type="hidden" id="targetPoint[provider]" value="none">
                <div class="card rounded-3 mb-3 p-3">
                    <div class="input-group mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="sourcePointLabel" placeholder="Source" style="border: 0; background-color: white;" value="-" required disabled>
                            <label for="sourcePointLabel">Source</label>
                        </div>
                    </div>    
                    <div class="input-group mb-3 me-1">
                        <span class="input-group-text rounded-start"><i class="fa-solid fa-user-secret"></i></span>
                        <div class="form-floating">
                            <select class="form-select form-select-sm rounded-end" id="sourceCredentialSelect" name="sourcePoint[credentialId]">
                                <option value="none" data-provider="none"> - </option>
                            </select>
                            <label for="sourceCredentialSelect">provider - credential name</label>
                        </div>
                    </div>
                    <div class="input-group mb-3 me-1">
                        <span class="input-group-text rounded-start"><i class="fa-solid fa-globe"></i></span>
                        <div class="form-floating">
                            <select class="form-select form-select-sm rounded-end" id="sourceRegionSelect" name="sourcePoint[region]">
                                <option value="none" selected> - </option>
                                <optgroup label="AWS regions" data-provider="aws" style="display: none;">
                                    {{ range $index, $value := .AWSRegions }}
                                        <option value="{{ $value }}">{{ $value }}</option>
                                    {{ end }}
                                </optgroup>
                                <optgroup label="GCP regions" data-provider="gcp" style="display: none;">
                                    {{ range $index, $value := .GCPRegions }}
                                        <option value="{{ $value }}">{{ $value }}</option>
                                    {{ end }}
                                </optgroup>
                                <optgroup label="NCP regions" data-provider="ncp" style="display: none;">
                                    {{ range $index, $value := .NCPRegions }}
                                        <option value="{{ $value }}">{{ $value }}</option>
                                    {{ end }}
                                </optgroup>                            
                            </select>
                            <label for="mig-aws-region">Select Region</label>
                        </div>
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-text rounded-start"><i class="fa-solid fa-bucket"></i></span>
                        <div class="form-floating">
                            <!-- <input type="text" class="form-control rounded-end" id="mig-aws-bucket" name="sourcePoint[bucket]" placeholder="Bucket" required> -->
                            <select class="form-select form-select-sm rounded-end" id="sourceBucket" name="sourcePoint[bucket]">
                                <option value="-" selected>-</option>
                            </select>
                            <label for="sourceBucket">Bucket</label>
                        </div>
                        <button type="button" class="btn btn-primary rounded-1 ms-2" id="sourceBtn">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
        
                    <div class="mt-2 ms-3" style="display: flex; align-items: center;">
                        <label for="mig-filter-path" class="form-label" style="margin-top: 0.5rem; margin-right: 0.5rem;">Filter</label>
                        <button class="btn" id="btnFilterExpand" type="button"><i class="fa-solid fa-square-caret-down" style="font-size: 22px"></i></button>
                    </div>
        
                    <div class="card rounded-3 p-3" id="filterContent" style="display:none;">
                        <div class="d-flex flex-wrap gap-2">
                            <div class="input-group mb-3" style="max-width: 300px;">
                                <span class="input-group-text rounded-start text-center text-wrap" style="width: 80px; font-size: 0.9rem;">Path</span>
                                <div class="form-floating">
                                    <input type="text" class="form-control rounded-end" id="mig-filter-path" name="sourceFilter[path]" placeholder="Path">
                                    <label for="mig-filter-path">Path</label>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap gap-2">
                            <div class="input-group mb-3" style="max-width: 300px;">
                                <span class="input-group-text rounded-start text-wrap" style="width: 80px; font-size: 0.9rem;">File Size</span>
                                <div class="form-floating">
                                    <input type="number" class="form-control rounded-end" id="mig-filter-minSize" name="sourceFilter[minSize]" placeholder="0" min="0">
                                    <label for="mig-filter-minSize">Min</label>
                                </div>
                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                ~
                            </div>
                            <div class="input-group mb-3" style="max-width: 300px;">
                                <div class="form-floating">
                                    <input type="number" class="form-control rounded-start" id="mig-filter-maxSize" name="sourceFilter[maxSize]" placeholder="0" min="0">
                                    <label for="mig-filter-maxSize">Max</label>
                                </div>
                                <select class="form-select rounded-end bg-light" id="mig-filter-sizeFilteringUnit" name="sourceFilter[sizeFilteringUnit]" style="max-width: 80px;">
                                </select>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap gap-2">
                            <div class="input-group mb-3" style="max-width: 300px;">
                                <span class="input-group-text rounded-start text-wrap" style="width: 80px; font-size: 0.9rem;">Date Range</span>
                                <div class="form-floating">
                                    <input type="text" id="datepicker1" class="form-control rounded-end" id="mig-filter-stdate" name="sourceFilter[modifiedAfter]" placeholder="Start Date">
                                    <label for="mig-filter-stdate">Start Date</label>
                                </div>
                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                ~
                            </div>
                            <div class="input-group mb-3" style="max-width: 300px;">
                                <div class="form-floating">
                                    <input type="text" id="datepicker2" class="form-control rounded-3" id="mig-filter-eddate" name="sourceFilter[modifiedBefore]" placeholder="End Date">
                                    <label for="mig-filter-eddate">End Date</label>
                                </div>
                            </div>                    
                        </div>
                        <div class="d-flex flex-wrap gap-2">
                            <div class="input-group" style="max-width: 300px;">
                                <span class="input-group-text rounded-start text-wrap" style="width: 80px; font-size: 0.9rem;">Contains</span>
                                <div class="form-floating flex-grow-1">
                                    <input type="text" class="form-control rounded-end" id="mig-filter-contains" name="sourceFilter[contains]" placeholder="Contains">
                                    <label for="mig-filter-contains">Text to include</label>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>    
                <div class="card rounded-3 mb-3 p-3">
                    <div class="input-group mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="targetPointLabel" placeholder="Target" style="border: 0; background-color: white;" value="-" required disabled>
                            <label for="sourcePointLabel">Target</label>
                        </div>
                    </div>
                    <div>
                        <div class="input-group mb-3 me-1">
                            <span class="input-group-text rounded-start"><i class="fa-solid fa-user-secret"></i></span>
                            <div class="form-floating">
                                <select class="form-select form-select-sm rounded-end" id="targetCredentialSelect" name="targetPoint[credentialId]">
                                    <option value="none" data-provider="none"> - </option>
                                </select>
                                <label for="mig-gcp-region">provider - credential name</label>
                            </div>
                        </div>
                        <div class="input-group mb-3 me-1">
                            <span class="input-group-text rounded-start"><i class="fa-solid fa-globe"></i></span>
                            <div class="form-floating">
                                <select class="form-select form-select-sm rounded-end" id="targetRegionSelect" name="targetPoint[region]">
                                    <option value="none" selected> - </option>
                                    <optgroup label="AWS regions" data-provider="aws" style="display: none;">
                                        {{ range $index, $value := .AWSRegions }}
                                            <option value="{{ $value }}">{{ $value }}</option>
                                        {{ end }}
                                    </optgroup>
                                    <optgroup label="GCP regions" data-provider="gcp" style="display: none;">
                                        {{ range $index, $value := .GCPRegions }}
                                            <option value="{{ $value }}">{{ $value }}</option>
                                        {{ end }}
                                    </optgroup>
                                    <optgroup label="NCP regions" data-provider="ncp" style="display: none;">
                                        {{ range $index, $value := .NCPRegions }}
                                            <option value="{{ $value }}">{{ $value }}</option>
                                        {{ end }}
                                    </optgroup>                            
                                </select>
                                <label for="mig-gcp-region">Select Region</label>
                            </div>
                        </div>
                        <div class="input-group mb-3 me-1">
                            <span class="input-group-text rounded-start"><i class="fa-solid fa-bucket"></i></span>
                            <div class="form-floating">
                                <!-- <input type="text" class="form-control rounded-end" id="mig-gcp-bucket" name="targetPoint[bucket]" placeholder="Bucket" required> -->
                                <select class="form-select form-select-sm rounded-end" id="targetBucket">
                                <!-- <select class="form-select form-select-sm rounded-end" id="targetBucket" name="targetPoint[bucket]"> -->
                                    <option value="-" selected>-</option>
                                </select>
                                <label for="targetBucket">Bucket</label>
                            </div>
                            <button type="button" class="btn btn-primary rounded-1 ms-2" id="targetBtn">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                        <div class="input-group" id="targetNewBucket" style="display: none;">
                            <span class="input-group-text rounded-start"><i class="fa-solid fa-bucket"></i></span>
                            <div class="form-floating">
                                <input type="text" class="form-control rounded-end" id="newBucket" name="targetPoint[bucket]" placeholder="Bucket">
                                <label for="newBucket">New Bucket</label>
                            </div>
                        </div>
                    </div>
                </div>
            <button type="submit" class="btn btn-primary rounded-1" id="submitBtn">Submit</button>
        </form>
    </div>
</div>
<script>
    const sourceBtn = document.getElementById("sourceBtn");
    const sourceCred = document.getElementById("sourceCredentialSelect")
    const sourceRegion = document.getElementById("sourceRegionSelect")
    const sourceBucket = document.getElementById("sourceBucket");
    const sourceProvider = document.getElementById("sourcePoint[provider]")
    const targetBtn = document.getElementById("targetBtn");
    const targetCred = document.getElementById("targetCredentialSelect")
    const targetRegion = document.getElementById("targetRegionSelect")
    const targetBucket = document.getElementById("targetBucket");
    const targetProvider = document.getElementById("targetPoint[provider]")
    const bucketInput = document.getElementById("newBucket");

    targetBucket.addEventListener("change", () => {
        toggleNewBucket()
    })

    sourceCred.addEventListener("change", () => {
        console.log("credential changed")
        resetBuckets("source", false);
    })

    targetCred.addEventListener("change", () => {
        console.log("credential changed")
        const cred = targetCred.value;
        if (cred == "none" || !cred) {
            resetBuckets("target", false);
            toggleNewBucket()

            return
        }
        resetBuckets("target", true)

        const option = document.createElement("option");
        option.value = "new";
        option.textContent = "create new bucket";
        targetBucket.appendChild(option);
        toggleNewBucket()
    })

    sourceRegion.addEventListener("change", () => {
        console.log("region changed")
        resetBuckets("source", false);
    })

    targetRegion.addEventListener("change", () => {
        console.log("region changed")
        const region = targetRegion.value;
        if (region == "none" || !region) {
            resetBuckets("target", false);
            toggleNewBucket()

            return
        }
        resetBuckets("target", true)
        toggleNewBucket()
    })

    sourceBtn.addEventListener("click", () => {
        if (sourceRegion.value == "none" || !sourceRegion.value) {
            return;
        }
        sourceBtn.disabled = true;
        sourceBtn.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;';

        fetchRegionList(sourceCred.value, sourceRegion.value, sourceProvider.value)
            .then(json => {
                sourceBucket.replaceChildren();
                
                if(json.buckets.length > 0) {
                    json.buckets.forEach(optionData => {
                        const option = document.createElement("option");
                        option.value = optionData.Name;
                        option.textContent = optionData.Name;
                        sourceBucket.appendChild(option);
                    });
                } else {
                    const option = document.createElement("option");
                    option.value = "none";
                    option.textContent = "no buckets found";
                    sourceBucket.appendChild(option);
                }
            })
            .catch(reason => {
                console.log(reason);
                alert(reason);
            })
            .finally(() => {
                sourceBtn.disabled = false;
                sourceBtn.innerHTML = '<i class="fa-solid fa-magnifying-glass"></i>';
            })
    });

    targetBtn.addEventListener("click", () => {
        if (targetRegion.value == "none" || !targetRegion.value) {
            return;
        }
        targetBtn.disabled = true;
        targetBtn.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;';

        fetchRegionList(targetCred.value, targetRegion.value, targetProvider.value)
            .then(json => {
                resetBuckets("target", true)

                json.buckets.forEach(optionData => {
                    const option = document.createElement("option");
                    option.value = optionData.Name;
                    option.textContent = optionData.Name;
                    targetBucket.appendChild(option);
                });
            })
            .catch(reason => {
                console.log(reason);
                alert(reason);
            })
            .finally(() => {
                targetBtn.disabled = false;
                targetBtn.innerHTML = '<i class="fa-solid fa-magnifying-glass"></i>';
                toggleNewBucket()
            })
    });

    function resetBuckets(targetSelect, hardReset) {
        let option = document.createElement("option");
        if(!hardReset) {
            option.value = "none";
            option.textContent = "-";
        } else {
            option.value = "new";
            option.textContent = "create new bucket";
        }
        
        if(targetSelect == "source") {
            sourceBucket.replaceChildren(option)
        } else {
            targetBucket.replaceChildren(option);
        }
    }

    function toggleNewBucket() {
        const newBucket = document.getElementById("targetNewBucket")
        if (targetBucket.value == "new") {
            newBucket.style.display = ""
            bucketInput.value = ""
        } else {
            newBucket.style.display = "none"
            bucketInput.value = targetBucket.value
        }
    }

    function fetchRegionList(credentialId, region, provider) {
        const url = "/objectstorage/buckets";
        const jsonData = {
            "targetPoint": {
                "credentialId": parseInt(credentialId),
                "region": region,
                "provider": provider
            }
        }
        const req = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(jsonData)
        }

        return fetch(url, req)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }
                        
                        return response.json();
                    });
    }
</script>