<ol class="breadcrumb mb-1" style="margin-top: 66px;">
    <li class="breadcrumb-item">Data Migrations</li>
    <li class="breadcrumb-item">Migration</li>
    <li class="breadcrumb-item">Object Storage</li>
    <li class="breadcrumb-item active">AWS S3 to Windows</li>
</ol>
<h1 class="mb-4">Migration AWS S3</h1>

<div class="card mb-4 col-auto">
    <div class="card-header">
        AWS S3 to Windows
    </div>
    <div class="card-body">
        <!-- <form action="/migration/aws/windows" method="POST"> -->
        <form id="migForm">
            <input type="hidden" id="migSource" value="s3">
            <input type="hidden" id="migDest" value="windows">

            <div class="mb-3">
                <label for="mig-aws-region" class="form-label">AWS S3</label>

                <div class="form-floating">
                    <select class="form-select form-select-sm w-50" id="mig-aws-region" name="awsRegion">
                    <!-- <option selected>Region</option> -->
                    {{ range $index, $value := .Regions }}
                    <option value="{{ $value }}">{{ $value }}</option>
                    {{ end }}
                    </select>
                    <label for="mig-aws-region">Select Region</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="mig-aws-accessKey" name="awsAccessKey" placeholder="Access Key" required>
                    <label for="mig-aws-accessKey">Access Key</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                <div class="form-floating">
                    <input type="password" class="form-control" id="mig-aws-secretKey" name="awsSecretKey" placeholder="Secret Key" required>
                    <label for="mig-aws-secretKey">Secret Key</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-bucket"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="mig-aws-bucket" name="awsBucket" placeholder="Bucket" required>
                    <label for="mig-aws-bucket">Bucket</label>
                </div>
            </div>

            <div class="mb-3">
                <label for="mig-windows-path" class="form-label">Target data path for Windows migration</label>

                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-folder"></i></span>
                    <div class="form-floating">
                      <input type="text" class="form-control" id="mig-windows-path" name="path" value={{ .tmpPath }} placeholder="Target Path">
                      <label for="mig-windows-path">Target Path</label>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
        </form>
    </div>
</div>