<ol class="breadcrumb mb-1" style="margin-top: 66px;">
    <li class="breadcrumb-item">Data Migrations</li>
    <li class="breadcrumb-item">Migration</li>
    <li class="breadcrumb-item">Object Storage</li>
    <li class="breadcrumb-item active">Windows to Google Cloud Storage</li>
</ol>
<h1 class="mb-4">마이그레이션 Windows</h1>

<div class="card mb-4 col-auto">
    <div class="card-header">
        Windows to Google Cloud Storage
    </div>
    <div class="card-body">
        <!-- <form action="/migration/windows/gcp" method="POST"  enctype="json"> -->
        <form id="migForm">
            <input type="hidden" id="migSource" value="windows">
            <input type="hidden" id="migDest" value="gcp">

            <div class="mb-3">
                <label for="mig-windows-path" class="form-label">Windows 마이그레이션 대상 데이터 경로</label>

                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-folder"></i></span>
                    <div class="form-floating">
                      <input type="text" class="form-control" id="mig-windows-path" name="path" value={{ .tmpPath }} placeholder="디렉토리 경로">
                      <label for="mig-windows-path">디렉토리 경로</label>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="mig-gcp-region" class="form-label">Google Cloud Storage</label>

                <div class="form-floating">
                    <select class="form-select form-select-sm w-50" id="mig-gcp-region" name="gcpRegion">
                    <!-- <option selected>Region</option> -->
                    {{ range $index, $value := .Regions }}
                    <option value="{{ $value }}">{{ $value }}</option>
                    {{ end }}
                    </select>
                    <label for="mig-gcp-region">리전 선택</label>
                </div>
            </div>
           
            <div class="mb-3">
                <label for="mig-gcp-credential" class="form-label">Credentials 파일</label>
                <input class="form-control" type="file" id="mig-gcp-credential" name="gcpCredential" required>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-id-card"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="mig-gcp-projectid" name="projectid" placeholder="projectid" required>
                    <label for="mig-gcp-projectid">projectID</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-bucket"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="mig-gcp-bucket" name="gcpBucket" placeholder="Bucket" required>
                    <label for="mig-gcp-bucket">Bucket</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
        </form>
    </div>
</div>