<h1 class="mt-4">마이그레이션 MongoDB</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">마이그레이션</li>
    <li class="breadcrumb-item active">NCP MongoDB to GCP Firestore</li>
</ol>

<div class="card mb-4 col-auto">
    <div class="card-header">
        NCP MongoDB to GCP Firestore
    </div>
    <div class="card-body">
        <!-- <form action="/migration/mongoDB/firestore" method="POST" enctype="json"> -->
        <form id="migForm">
            <input type="hidden" id="migService" value="nrdbms">
            <input type="hidden" id="migSource" value="mongodb">
            <input type="hidden" id="migDest" value="firestore">
            <input type="hidden" id="sourcePoint[provider]" value="ncp">
            <input type="hidden" id="targetPoint[provider]" value="gcp">
            <label for="mig-mongodb-host" class="form-label">MongoDB</label>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-house"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="mig-mongodb-host" name="sourcePoint[host]" placeholder="호스트명 / IP" required>
                    <label for="mig-mongodb-host">호스트명 / IP</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-flag"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="mig-mongodb-port" name="sourcePoint[port]" placeholder="포트" required>
                    <label for="mig-mongodb-port">포트</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="mig-mongodb-username" name="sourcePoint[username]" placeholder="사용자" required>
                    <label for="mig-mongodb-username">사용자</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                <div class="form-floating">
                    <input type="password" class="form-control" id="mig-mongodb-password" name="sourcePoint[password]" placeholder="패스워드" required>
                    <label for="mig-mongodb-password">패스워드</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-database"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="mig-mongodb-databaseName" name="sourcePoint[databaseName]" placeholder="DB 이름" required>
                    <label for="mig-mongodb-databaseName">데이터베이스 이름</label>
                </div>
            </div>
            <div class="mb-3">
                <label for="mig-gcp-region" class="form-label">Google Cloud Firestore</label>

                <div class="form-floating">
                    <select class="form-select form-select-sm w-50" id="mig-gcp-region" name="targetPoint[region]">
                    <!-- <option selected>Region</option> -->
                    {{ range $index, $value := .Regions }}
                    <option value="{{ $value }}">{{ $value }}</option>
                    {{ end }}
                    </select>
                    <label for="mig-gcp-region">리전 선택</label>
                </div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-user-secret"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="gen-s3-profile" name="targetPoint[profileName]" placeholder="profile name" required>
                    <label for="gen-s3-profile">Profile</label>
                </div>
            </div>
            <!-- <div class="mb-3">
                <label for="mig-gcp-credential" class="form-label">Credentials 파일</label>
                <input class="form-control" type="file" id="mig-gcp-credential" name="gcpCredential" required>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-user-shield"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="mig-gcp-projectid" name="projectid" placeholder="Project ID" required>
                    <label for="mig-gcp-projectid">Project ID</label>
                </div>
            </div> -->

            <button type="submit" class="btn btn-primary" id="submitBtn">실행</button>
        </form>
    </div>
</div>