<h1 class="mt-4">마이그레이션 Naver Object Storage</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">마이그레이션</li>
    <li class="breadcrumb-item active">NCP to Windows</li>
</ol>

<div class="card mb-4 col-auto">
    <div class="card-header">
        Naver Object Storage to Windows
    </div>
    <div class="card-body">
        <!-- <form action="/migration/ncp/windows" method="POST"> -->
        <form id="migForm">
            <input type="hidden" id="migSource" value="ncp">
            <input type="hidden" id="migDest" value="windows">

            <div class="mb-3">
                <label for="mig-ncp-region" class="form-label">Naver Object Storage</label>

                <div class="form-floating">
                    <select class="form-select form-select-sm w-50" id="mig-ncp-region" name="region">
                    <!-- <option selected>Region</option> -->
                    {{ range $index, $value := .Regions }}
                    <option value="{{ $value }}">{{ $value }}</option>
                    {{ end }}
                    </select>
                    <label for="mig-ncp-region">리전 선택</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="mig-ncp-accessKey" name="ncpAccessKey" placeholder="Access Key" required>
                    <label for="mig-ncp-accessKey">Access Key</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                <div class="form-floating">
                    <input type="password" class="form-control" id="mig-ncp-secretKey" name="ncpSecretKey" placeholder="Secret Key" required>
                    <label for="mig-ncp-secretKey">Secret Key</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-flag"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="mig-ncp-endpoint" name="ncpEndpoint" placeholder="Endpoint" required>
                    <label for="mig-ncp-endpoint">Endpoint</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-bucket"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="mig-ncp-bucket" name="ncpBucket" placeholder="Bucket" required>
                    <label for="mig-ncp-bucket">Bucket</label>
                </div>
            </div>

            <div class="mb-3">
                <label for="mig-windows-path" class="form-label">Windows 마이그레이션 목표 데이터 경로</label>

                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-folder"></i></span>
                    <div class="form-floating">
                      <input type="text" class="form-control" id="mig-windows-path" name="path" value={{ .tmpPath }} placeholder="디렉토리 경로">
                      <label for="mig-windows-path">디렉토리 경로</label>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" id="submitBtn">실행</button>
        </form>
    </div>
</div>