<h1 class="mt-4">마이그레이션 Firestore</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">마이그레이션</li>
    <li class="breadcrumb-item active">GCP Firestore to AWS DynamoDB</li>
</ol>

<div class="card mb-4 col-auto">
    <div class="card-header">
        GCP Firestore to AWS DynamoDB
    </div>
    <div class="card-body">
        <!-- <form action="/migration/firestore/dynamodb" method="POST" enctype="multipart/form-data"> -->
        <form id="migForm">
            <input type="hidden" id="migSource" value="firestore">
            <input type="hidden" id="migDest" value="dynamodb">

            <div class="mb-3">
                <label for="mig-gcp-region" class="form-label">Google Cloud Firestore</label>

                <div class="form-floating">
                    <select class="form-select form-select-sm w-50" id="mig-gcp-region" name="gcpRegion">
                    <!-- <option selected>Region</option> -->
                    {{ range $index, $value := .GCPRegions }}
                    <option value="{{ $value }}">{{ $value }}</option>
                    {{ end }}
                    </select>
                    <label for="mig-gcp-region">리전 선택</label>
                </div>
            </div>
           
            <div class="mb-3">
                <label for="mig-gcp-credential" class="form-label">Credentials 파일</label>
                <input class="form-control" type="file" id="mig-gcp-credential" name="gcpCredential">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-user-shield"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="mig-gcp-projectid" name="projectid" placeholder="Project ID">
                    <label for="mig-gcp-projectid">Project ID</label>
                </div>
            </div>

            <div class="mb-3">
                <label for="mig-aws-region" class="form-label">AWS DynamoDB</label>

                <div class="form-floating">
                    <select class="form-select form-select-sm w-50" id="mig-aws-region" name="awsRegion">
                    <!-- <option selected>Region</option> -->
                    {{ range $index, $value := .AWSRegions }}
                    <option value="{{ $value }}">{{ $value }}</option>
                    {{ end }}
                    </select>
                    <label for="mig-aws-region">리전 선택</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="mig-aws-accessKey" name="awsAccessKey" placeholder="Access Key">
                    <label for="mig-aws-accessKey">Access Key</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                <div class="form-floating">
                    <input type="password" class="form-control" id="mig-aws-secretKey" name="awsSecretKey" placeholder="Secret Key">
                    <label for="mig-aws-secretKey">Secret Key</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" id="submitBtn">실행</button>

        </form>
    </div>
</div>