<ol class="breadcrumb mb-1" style="margin-top: 66px;">
    <li class="breadcrumb-item">Data Migrations</li>
    <li class="breadcrumb-item">Migration</li>
    <li class="breadcrumb-item">No-SQL</li>
    <li class="breadcrumb-item active">AWS DynamoDB to NCP MongoDB</li>
</ol>
<h1 class="mb-4">Migration DynamoDB</h1>

<div class="card mb-4 col-auto">
    <div class="card-header">
        AWS DynamoDB to NCP MongoDB
    </div>
    <div class="card-body">
        <!-- <form action="/migration/dynamodb/mongodb" method="POST"> -->
        <form id="migForm">
            <input type="hidden" id="migService" value="nrdbms">
            <input type="hidden" id="migSource" value="dynamodb">
            <input type="hidden" id="migDest" value="mongodb">
            <input type="hidden" id="sourcePoint[provider]" value="aws">
            <input type="hidden" id="targetPoint[provider]" value="ncp">
            <div class="mb-3">
                <label for="mig-aws-region" class="form-label">AWS DynamoDB</label>

                <div class="form-floating">
                    <select class="form-select form-select-sm w-50" id="mig-aws-region" name="sourcePoint[region]">
                    <!-- <option selected>Region</option> -->
                    {{ range $index, $value := .Regions }}
                    <option value="{{ $value }}">{{ $value }}</option>
                    {{ end }}
                    </select>
                    <label for="mig-aws-region">Select Region</label>
                </div>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-user-secret"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="gen-s3-profile" name="sourcePoint[profileName]" placeholder="profile name" required>
                    <label for="gen-s3-profile">Profile</label>
                </div>
            </div>

            <label for="mig-mongodb-host" class="form-label">MongoDB</label>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-user-secret"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="gen-s3-profile" name="targetPoint[profileName]" placeholder="profile name" required>
                    <label for="gen-s3-profile">Profile</label>
                </div>
            </div>


            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-house"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="mig-mongodb-host" name="targetPoint[host]" placeholder="Host / IP" required>
                    <label for="mig-mongodb-host">Host / IP</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-flag"></i></span>
                <div class="form-floating">
                    <input type="number" class="form-control" id="mig-mongodb-port" name="targetPoint[port]" placeholder="Port" required>
                    <label for="mig-mongodb-port">Port</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="mig-mongodb-username" name="targetPoint[username]" placeholder="Username" required>
                    <label for="mig-mongodb-username">Username</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                <div class="form-floating">
                    <input type="password" class="form-control" id="mig-mongodb-password" name="targetPoint[password]" placeholder="Password" required>
                    <label for="mig-mongodb-password">Password</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text"><i class="fa-solid fa-database"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="mig-mongodb-databaseName" name="targetPoint[databaseName]" placeholder="DB Name" required>
                    <label for="mig-mongodb-databaseName">Database Name</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>

        </form>
    </div>
</div>