<ol class="breadcrumb mb-1" style="margin-top: 66px;">
    <li class="breadcrumb-item">Migration</li>
</ol>
<h2 class="page-title">SQL Database</h2>
<div class="card rounded-3 mb-4 col-auto">
    <ul class="nav nav-tabs pt-2 ps-2">
        <li class="nav-item">
            <a class="nav-link" href="/migrate/objectstorage">Object Storage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">
                SQL Database
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/migrate/no-sql">No-SQL</a>
        </li>
    </ul>
    <div class="card-body">
        <form id="migForm">
            <input type="hidden" id="migService" value="rdbms">
            <input type="hidden" id="migSource" value="mysql">
            <input type="hidden" id="migDest" value="mysql">
            <div class="stepper d-flex flex-column mt-2 ml-2" id="accordionExample">
                <div class="d-flex mb-1">
                    <div class="d-flex flex-column pr-4 align-items-center mt-2">
                        <button class="rounded-circle py-2 px-3 bg-secondary text-white mb-1 next-btn border-0 step-btn" type="button" data-target="#collapseOne">
                            1
                        </button>
                        <div class="line h-100"></div>
                    </div>
                    <div class="accordion flex-grow-1 ms-4 mb-4">
                        <div class="accordion-item rounded-3">
                            <div class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed rounded-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Enter Source MySQL for Migration
                                </button> 
                            </div>
                            <div id="collapseOne" class="accordion-collapse rounded-bottom collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body border-1 rounded-3 pt-0">
                                    <div class="input-group">
                                        <div class="form-floating">
                                            <input type="text" class="form-control border-0 bg-white" id="mysql-srcLabel" value="MySQL" value="-" required disabled>
                                            <label for="mysql-srcLabel">Source</label>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text rounded-start"><i class="fa-solid fa-cloud"></i></span>
                                        <select class="form-select rounded-end" id="sourcePoint[provider]" name="sourcePoint[provider]">
                                            <option value="aws">AWS</option>
                                            <option value="gcp">GCP</option>
                                            <option value="ncp">NCP</option>
                                            <option value="on-premise">On-premise</option>
                                        </select>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text rounded-start"><i class="fa-solid fa-house"></i></span>
                                        <div class="form-floating">
                                            <input type="text" class="form-control rounded-end" id="mysql-srcHost" name="sourcePoint[host]" placeholder="Host / IP" required>
                                            <label for="mysql-srcHost">Host / IP</label>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text rounded-start"><i class="fa-solid fa-flag"></i></span>
                                        <div class="form-floating">
                                            <input type="text" class="form-control rounded-end" id="mysql-srcPort" name="sourcePoint[port]" placeholder="Port" required>
                                            <label for="mysql-srcPort">Port</label>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text rounded-start"><i class="fa-solid fa-user"></i></span>
                                        <div class="form-floating">
                                            <input type="text" class="form-control rounded-end" id="mysql-srcUsername" name="sourcePoint[username]" placeholder="Username" required>
                                            <label for="mysql-srcUsername">Username</label>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text rounded-start"><i class="fa-solid fa-lock"></i></span>
                                        <div class="form-floating">
                                            <input type="password" class="form-control rounded-end" id="mysql-srcPassword" name="sourcePoint[password]" placeholder="Password" required>
                                            <label for="mysql-srcPassword">Password</label>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text rounded-start"><i class="fa-solid fa-database"></i></span>
                                        <div class="form-floating">
                                            <input type="text" class="form-control rounded-end" id="mysql-srcDatabase" name="sourcePoint[database]" placeholder="Database" required>
                                            <label for="mysql-srcDatabase">Database</label>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <button class="btn btn-dark btn-block rounded-3 next-btn ms-auto me-3" type="button">
                                            Verify
                                        </button>
                                        <button class="btn btn-dark btn-block rounded-3 next-btn" type="button" data-current="#collapseOne" data-next="#collapseTwo">
                                            Next
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex mb-1">
                    <div class="d-flex flex-column pr-4 align-items-center mt-2">
                        <button class="rounded-circle py-2 px-3 bg-secondary text-white mb-1 next-btn border-0 step-btn" type="button" data-target="#collapseTwo">
                            2
                        </button>
                        <div class="line h-100"></div>
                    </div>
                    <div class="accordion flex-grow-1 ms-4 mb-4">
                        <div class="accordion-item rounded-3">
                            <div class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed rounded-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Diagnose Source MySQL
                                </button> 
                            </div>                            
                            <div id="collapseTwo" class="accordion-collapse rounded-bottom collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="input-group">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control rounded-3 w-25" id="sourceTime" name="sourceTime" placeholder="time" value="5" required>
                                            <label for="sourceTime">Duration ( sec )</label>
                                        </div>
                                        <button class="btn btn-primary ms-3 mb-3 rounded-3 float-end" id="sourceDiagnoseBtn" type="button">Diagnose</button>
                                    </div>
                                    <div class="mb-3">
                                        <div class="card rounded-3">
                                            <div class="card-header">SQL Statistics (digest Δ-based)</div>
                                            <div class="card-body p-0">
                                                <table class="table table-sm mb-0">
                                                    <thead class="table-light">
                                                        <tr><th class="ps-4 fw-normal" style="width: 50%;">Queries performed</th><th class="fw-normal">Value</th></tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr><td class="ps-5">Read</td><td class="value" id="readCount">-</td></tr>
                                                        <tr><td class="ps-5">Write</td><td class="value" id="writeCount">-</td></tr>
                                                        <tr><td class="ps-5">Other</td><td class="value" id="otherCount">-</td></tr>
                                                        <tr><td class="ps-5">Total</td><td class="value" id="totalCount">-</td></tr>
                                                        <tr>
                                                        <td class="ps-4">Queries</td>
                                                        <td class="value">
                                                            <span id="queriesTotal">-</span>
                                                            (<span id="queriesPerSec">-</span> per sec.)
                                                        </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>                                        
                                        <!-- General Statistics -->
                                        <div class="card mt-2 rounded-3">
                                            <div class="card-header">General Statistics</div>
                                            <div class="card-body p-0">
                                            <table class="table table-sm mb-0">
                                                <tbody>
                                                <tr><td class="ps-5" style="width: 50%;">Total Tables</td><td class="value" id="totalTable">-</td></tr>
                                                <tr><td class="ps-5" style="width: 50%;">Total Time</td><td class="value" id="totalTime">-</td></tr>
                                                </tbody>
                                            </table>
                                            </div>
                                        </div>                                        
                                        <!-- Latency -->
                                        <div class="card mt-2 rounded-3">
                                            <div class="card-header">Latency (avg only, ms)</div>
                                            <div class="card-body p-0">
                                                <table class="table table-sm mb-0">
                                                    <tbody>
                                                        <tr><td class="ps-5" style="width: 50%;">Avg</td><td class="value" id="avgLatency">-</td></tr>
                                                        <tr><td class="ps-5" style="width: 50%;">Sum</td><td class="value" id="sumLatency">-</td></tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>                                            
                                        <!-- Thread -->
                                        <div class="card mt-2 rounded-3">
                                            <div class="card-header">Thread</div>
                                            <div class="card-body p-0">
                                                <table class="table table-sm mb-0">
                                                    <tbody>
                                                        <tr><td class="ps-5" style="width: 50%;">Connected</td><td class="value" id="connectedThread">-</td></tr>
                                                        <tr><td class="ps-5" style="width: 50%;">Running</td><td class="value" id="runningThread">-</td></tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <button class="btn btn-dark btn-block rounded-3 next-btn ms-auto" type="button" data-current="#collapseTwo" data-next="#collapseThree">Next</button>                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex mb-1">
                    <div class="d-flex flex-column pr-4 align-items-center mt-2">                        
                        <button class="rounded-circle py-2 px-3 bg-secondary text-white mb-1 next-btn border-0 step-btn" type="button" data-target="#collapseThree">
                            3
                        </button>
                        <div class="line h-100"></div>
                    </div>
                    <div class="accordion flex-grow-1 ms-4 mb-4">
                        <div class="accordion-item rounded-3">
                            <div class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed rounded-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Enter Target MySQL for Migration
                                </button> 
                            </div>                            
                            <div id="collapseThree" class="accordion-collapse rounded-bottom collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body rounded-3 pt-0">
                                    <div class="input-group mb-3">
                                        <div class="form-floating">
                                            <input type="text" class="form-control border-0 bg-white" id="mysql-destHostLabel" value="MySQL" value="-" required disabled>
                                            <label for="mysql-destHostLabel">Target</label>
                                        </div>
                                    </div>  
                                    <div class="input-group mb-3">
                                        <span class="input-group-text rounded-start"><i class="fa-solid fa-cloud"></i></span>
                                        <select class="form-select rounded-end" id="targetPoint[provider]" name="targetPoint[provider]">
                                            <option value="aws">AWS</option>
                                            <option value="gcp">GCP</option>
                                            <option value="ncp">NCP</option>
                                            <option value="onpremise">On-premise</option>
                                        </select>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text rounded-start"><i class="fa-solid fa-house"></i></span>
                                        <div class="form-floating">
                                            <input type="text" class="form-control rounded-end" id="mysql-destHost" name="targetPoint[host]" placeholder="Host / IP" required>
                                            <label for="mysql-destHost">Host / IP</label>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text rounded-start"><i class="fa-solid fa-flag"></i></span>
                                        <div class="form-floating">
                                            <input type="text" class="form-control rounded-end" id="mysql-destPort" name="targetPoint[port]" placeholder="Port" required>
                                            <label for="mysql-destPort">Port</label>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text rounded-start"><i class="fa-solid fa-user"></i></span>
                                        <div class="form-floating">
                                            <input type="text" class="form-control rounded-end" id="mysql-destUsername" name="targetPoint[username]" placeholder="Username" required>
                                            <label for="mysql-destUsername">Username</label>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text rounded-start"><i class="fa-solid fa-lock"></i></span>
                                        <div class="form-floating">
                                            <input type="password" class="form-control rounded-end" id="mysql-destPassword" name="targetPoint[password]" placeholder="Password" required>
                                            <label for="mysql-destPassword">Password</label>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text rounded-start"><i class="fa-solid fa-database"></i></span>
                                        <div class="form-floating">
                                            <input type="text" class="form-control rounded-end" id="mysql-destDatabase" name="targetPoint[database]" placeholder="Database" required>
                                            <label for="mysql-destDatabase">Database</label>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <button class="btn btn-dark btn-block rounded-3 ms-auto next-btn" type="button" data-current="#collapseThree" data-next="#collapseFour">Next</button>  
                                    </div>                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="d-flex flex-column pr-4 align-items-center mt-2">
                        <button class="rounded-circle py-2 px-3 bg-secondary text-white mb-1 next-btn border-0 step-btn" type="button" data-target="#collapseFour">
                            4
                        </button>
                    </div>
                    <div class="accordion flex-grow-1 ms-4" id="accordionExample">
                        <div class="accordion-item rounded-3">
                            <div class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed rounded-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Diagnose Target MySQL
                                </button> 
                            </div>                            
                            <div id="collapseFour" class="accordion-collapse rounded-bottom collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="input-group">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control rounded-3" id="targetTime" name="targetTime" placeholder="time" value="5" required>
                                            <label for="targetTime">Duration ( sec )</label>
                                        </div>
                                        <div class="form-floating mb-3 ms-3">
                                            <input type="text" class="form-control rounded-3" id="targetTableCount" name="targetTableCount" placeholder="Table Count" value="10" required>
                                            <label for="targetTableCount">Table Count</label>
                                        </div>
                                        <div class="form-floating mb-3 ms-3">
                                            <input type="text" class="form-control rounded-3" id="targetTableSize" name="targetTableSize" placeholder="Table Size" value="10" required>
                                            <label for="targetTableSize">Table Size</label>
                                        </div>
                                        <div class="form-floating mb-3 ms-3">
                                            <input type="text" class="form-control rounded-3" id="targetThread" name="targetThread" placeholder="Thread" value="10" required>
                                            <label for="targetThread">Thread</label>
                                        </div>
                                        <button class="btn btn-primary rounded-3 ms-3 mb-3 float-end" id="targetDiagnoseBtn" type="button">
                                            Diagnose
                                        </button>                                 
                                    </div>
                                    <div class="card rounded-3">
                                        <div class="card-header">SQL Statistics</div>
                                        <div class="card-body p-0">
                                            <table class="table table-sm mb-0">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th class="ps-4 fw-normal" style="width: 50%;">Queries performed</th>
                                                        <th class="fw-normal" style="width: 25%;">Source</th>
                                                        <th class="fw-normal">Target</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr><td class="ps-5">Read</td><td class="value" id="readSourceCount">-</td><td class="value" id="readTargetCount">-</td></tr>
                                                    <tr><td class="ps-5">Write</td><td class="value" id="writeSourceCount">-</td><td class="value" id="writeTargetCount">-</td></tr>
                                                    <tr><td class="ps-5">Other</td><td class="value" id="otherSourceCount">-</td><td class="value" id="otherTargetCount">-</td></tr>
                                                    <tr><td class="ps-5">Total</td><td class="value" id="totalSourceCount">-</td><td class="value" id="totalTargetCount">-</td></tr>
                                                    <tr>
                                                        <td class="ps-4">Transactions</td>
                                                        <td class="value">
                                                            <span>-</span>
                                                        </td>
                                                        <td class="value">
                                                            <span id="transactionsTotal">-</span>
                                                            (<span id="transactionsPerSec">-</span> per sec.)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="ps-4">Queries</td>
                                                        <td class="value">
                                                            <span id="queriesSourceTotal">-</span>
                                                            (<span id="queriesSourcePerSec">-</span> per sec.)
                                                        </td>
                                                        <td class="value">
                                                            <span id="queriesTargetTotal">-</span>
                                                            (<span id="queriesTargetPerSec">-</span> per sec.)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="ps-4">Ignored errors</td>
                                                        <td class="value">
                                                            <span>-</span>
                                                        </td>
                                                        <td class="value">
                                                            <span id="errorsTotal">-</span>
                                                            (<span id="errorsPerSec">-</span> per sec.)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="ps-4">Reconnects</td>
                                                        <td class="value">
                                                            <span>-</span>
                                                        </td>
                                                        <td class="value">
                                                            <span id="reconnectsTotal">-</span>
                                                            (<span id="reconnectsPerSec">-</span> per sec.)
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>                                        
                                    <!-- General Statistics -->
                                    <div class="card mt-2 rounded-3">
                                        <div class="card-header">General Statistics</div>
                                        <div class="card-body p-0">
                                        <table class="table table-sm mb-0">
                                            <tbody>
                                                <tr><td class="ps-5" style="width: 50%;">Total Time</td><td class="value" id="totalSourceTime" style="width: 25%;">-</td><td class="value" id="totalTargetTime">-</td></tr>
                                                <tr><td class="ps-5" style="width: 50%;">Total Number Of Events</td><td class="value">-</td><td class="value" id="totalEvents">-</td></tr>
                                            </tbody>
                                        </table>
                                        </div>
                                    </div>                                        
                                    <!-- Latency -->
                                    <div class="card mt-2 rounded-3">
                                        <div class="card-header">Latency (avg only, ms)</div>
                                        <div class="card-body p-0">
                                            <table class="table table-sm mb-0">
                                                <tbody>
                                                    <tr><td class="ps-5" style="width: 50%;">Min</td><td class="value" style="width: 25%;">-</td><td class="value" id="minTargetLatency">-</td></tr>
                                                    <tr><td class="ps-5" style="width: 50%;">Avg</td><td class="value" id="avgSourceLatency">-</td><td class="value" id="avgTargetLatency">-</td></tr>
                                                    <tr><td class="ps-5" style="width: 50%;">Max</td><td class="value">-</td><td class="value" id="maxTargetLatency">-</td></tr>
                                                    <tr><td class="ps-5" style="width: 50%;">95th Percentile</td><td class="value">-</td><td class="value" id="95TargetLatency">-</td></tr>
                                                    <tr><td class="ps-5" style="width: 50%;">Sum</td><td class="value" id="sumSourceLatency">-</td><td class="value" id="sumTargetLatency">-</td></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>                                            
                                    <!-- Thread -->
                                    <div class="card mt-2 rounded-3">
                                        <div class="card-header">Threads fairness</div>
                                        <div class="card-body p-0">
                                            <table class="table table-sm mb-0">
                                                <tbody>
                                                    <tr>
                                                        <td class="ps-5" style="width: 50%;">Events (avg/stddev)</td>
                                                        <td class="value" style="width: 25%;">
                                                            <span>-</span>                                                               
                                                        </td>
                                                        <td class="value">
                                                            <span id="avgTargetEvents">-</span> / <span id="stddevTargetEvents">-</span>                                                                    
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="ps-5" style="width: 50%;">Execution Time (avg/stddev)</td>
                                                        <td class="value">
                                                            <span>-</span>
                                                        </td>
                                                        <td class="value">
                                                            <span id="avgTagetExecTime">-</span> / <span id="stddevTargetExecTime">-</span> 
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary rounded-1 float-end" id="submitBtn">Submit</button>
        </form>
    </div>
</div>  
<script>
    document.addEventListener("DOMContentLoaded", () => {
        // Next 버튼
        document.querySelectorAll(".next-btn").forEach(btn => {
            btn.addEventListener("click", e => {
                const next = document.querySelector(btn.dataset.next);
            
                if (next) {
                    bootstrap.Collapse.getOrCreateInstance(next).show();
                }
            });
        });

        document.getElementById("sourceDiagnoseBtn").addEventListener("click", (e) => {
            const url = "/diagnose/status"

            host = document.getElementById("mysql-srcHost").value
            port = document.getElementById("mysql-srcPort").value
            username = document.getElementById("mysql-srcUsername").value
            password = document.getElementById("mysql-srcPassword").value
            databaseName = document.getElementById("mysql-srcDatabase").value

            if (!host || !port || !username || !password || !databaseName) {
                alert("Please make sure all required fields for Source MySQL are filled in.");
                return;
            }

            jsonData = {
                targetPoint: {
                    host: host,
                    port: port,
                    username: username,
                    password: password,
                    databaseName: databaseName,
                },
                time: parseInt(document.getElementById("sourceTime").value)
            }

            let req = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonData)
            };

            const btn = e.currentTarget
            btn.disabled = true;
            btn.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';

            fetch(url, req)
                .then(response => {
                    return response.json();
                })
                .then(json => {
                    updateStats(json)
                })
                .catch(reason => {
                    console.log(reason);
                    alert(reason);
                })
                .finally(() => {
                    btn.disabled = false;
                    btn.innerHTML = 'Diagnose';
                });

            console.log("diagnose progressing...");
        });

        document.getElementById("targetDiagnoseBtn").addEventListener("click", (e) => {
            const url = "/diagnose/sysbench"

            host = document.getElementById("mysql-destHost").value
            port = document.getElementById("mysql-destPort").value
            username = document.getElementById("mysql-destUsername").value
            password = document.getElementById("mysql-destPassword").value
            databaseName = document.getElementById("mysql-destDatabase").value

            if (!host || !port || !username || !password || !databaseName) {
                alert("Please make sure all required fields for Target MySQL are filled in.");
                return;
            }

            jsonData = {
                host: host,
                port: port,
                username: username,
                password: password,
                databaseName: databaseName,
                targetType: "mysql",
                tableCount: parseInt(document.getElementById("targetTableCount").value),
                tableSize: parseInt(document.getElementById("targetTableSize").value),
                threadsCount: parseInt(document.getElementById("targetThread").value),
                time: parseInt(document.getElementById("targetTime").value)
            }

            let req = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonData)
            };

            const btn = e.currentTarget
            btn.disabled = true;
            btn.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>';

            fetch(url, req)
                .then(response => {
                    return response.json();
                })
                .then(json => {
                    if(json.Error) {
                        console.log(json.Error);
                        alert("failed to diagnose");

                        return
                    }
                    updateSysbenchResult(json)
                })
                .catch(reason => {
                    console.log(reason);
                    alert(reason);
                })
                .finally(() => {
                    btn.disabled = false;
                    btn.innerHTML = 'Diagnose';
                });

            console.log("diagnose progressing...");
        });
    });

    // 안전한 소수점 변환
    const formatFixed = (num, digits = 2) => (typeof num === "number" && !isNaN(num)) ? num.toFixed(digits) : "0.00";
    // ✅ totalTime: 나노초 → 초 단위 변환
    const formatSeconds = (num) => (typeof num === "number" && !isNaN(num)) ? (num / 1e9).toFixed(2) + "s" : num;

    function updateStats(data) {
        document.getElementById("readCount").textContent = data.Diagnostics.Report.Read;
        document.getElementById("readSourceCount").textContent = data.Diagnostics.Report.Read;
        document.getElementById("writeCount").textContent = data.Diagnostics.Report.Write;
        document.getElementById("writeSourceCount").textContent = data.Diagnostics.Report.Write;
        document.getElementById("otherCount").textContent = data.Diagnostics.Report.Other;
        document.getElementById("otherSourceCount").textContent = data.Diagnostics.Report.Other;
        document.getElementById("totalCount").textContent = data.Diagnostics.Report.Total;
        document.getElementById("totalSourceCount").textContent = data.Diagnostics.Report.Total;
        document.getElementById("queriesTotal").textContent = data.Diagnostics.Report.Total;
        document.getElementById("queriesSourceTotal").textContent = data.Diagnostics.Report.Total;
        document.getElementById("queriesPerSec").textContent = formatFixed(data.Diagnostics.QPS);
        document.getElementById("queriesSourcePerSec").textContent = formatFixed(data.Diagnostics.QPS);
        document.getElementById("totalTime").textContent = formatSeconds(data.Diagnostics.Elapsed);
        document.getElementById("totalSourceTime").textContent = formatSeconds(data.Diagnostics.Elapsed);
        document.getElementById("avgLatency").textContent = formatFixed(data.Diagnostics.AvgMs);
        document.getElementById("avgSourceLatency").textContent = formatFixed(data.Diagnostics.AvgMs);
        document.getElementById("sumLatency").textContent = formatFixed(data.Diagnostics.SumMs);
        document.getElementById("sumSourceLatency").textContent = formatFixed(data.Diagnostics.SumMs);
        document.getElementById("totalTable").textContent = data.Diagnostics.Lock.length;
        document.getElementById("connectedThread").textContent = data.Diagnostics.Thread.ThreadConnected;
        document.getElementById("runningThread").textContent = data.Diagnostics.Thread.ThreadRunning;
    }

    function updateSysbenchResult(data) {
        document.getElementById("readTargetCount").textContent = data.SysbenchResult.rdbmsResult.read;
        document.getElementById("writeTargetCount").textContent = data.SysbenchResult.rdbmsResult.write;
        document.getElementById("otherTargetCount").textContent = data.SysbenchResult.rdbmsResult.other;
        document.getElementById("totalTargetCount").textContent = data.SysbenchResult.rdbmsResult.total;
        document.getElementById("transactionsTotal").textContent = data.SysbenchResult.rdbmsResult.transactions;
        document.getElementById("transactionsPerSec").textContent = formatFixed(data.SysbenchResult.rdbmsResult.tps);
        document.getElementById("queriesTargetTotal").textContent = data.SysbenchResult.rdbmsResult.queries;
        document.getElementById("queriesTargetPerSec").textContent = formatFixed(data.SysbenchResult.rdbmsResult.qps);
        document.getElementById("errorsTotal").textContent = data.SysbenchResult.rdbmsResult.ignoredErrors;
        document.getElementById("errorsPerSec").textContent = formatFixed(data.SysbenchResult.rdbmsResult.ignoredErrorsPerSec);
        document.getElementById("reconnectsTotal").textContent = data.SysbenchResult.rdbmsResult.reconnects;
        document.getElementById("reconnectsPerSec").textContent = formatFixed(data.SysbenchResult.rdbmsResult.reconnectsPerSec);
        document.getElementById("totalTargetTime").textContent = formatSeconds(data.SysbenchResult.rdbmsResult.totalTime);
        document.getElementById("totalEvents").textContent = data.SysbenchResult.rdbmsResult.totalEvents;
        document.getElementById("minTargetLatency").textContent = formatFixed(data.SysbenchResult.rdbmsResult.latencyMinMs);
        document.getElementById("avgTargetLatency").textContent = formatFixed(data.SysbenchResult.rdbmsResult.latencyAvgMs);
        document.getElementById("maxTargetLatency").textContent = formatFixed(data.SysbenchResult.rdbmsResult.latencyMaxMs);
        document.getElementById("95TargetLatency").textContent = formatFixed(data.SysbenchResult.rdbmsResult.latencyP95Ms);
        document.getElementById("sumTargetLatency").textContent = formatFixed(data.SysbenchResult.rdbmsResult.latencySumMs);
        document.getElementById("avgTargetEvents").textContent = data.SysbenchResult.rdbmsResult.eventsAvg;
        document.getElementById("stddevTargetEvents").textContent = data.SysbenchResult.rdbmsResult.eventsStddev;
        document.getElementById("avgTagetExecTime").textContent = data.SysbenchResult.rdbmsResult.execTimeAvgSec;
        document.getElementById("stddevTargetExecTime").textContent = data.SysbenchResult.rdbmsResult.execTimeStddevSec;
    }
</script>