<ol class="breadcrumb mb-1" style="margin-top: 66px;">
    <li class="breadcrumb-item">Task</li>
    <li class="breadcrumb-item active">Task</li>
</ol>
<h1 class="mb-4">Task</h1>

<div class="card mb-4 col-auto">
    <div class="card-header">
      <i class="fa-solid fa-clone"></i>
      Task
    </div>
    <div class="card-body">
        <!-- <form action="/backup" method="POST"> -->

        <div class="input-group  mb-3">
            <div class="input-group mb-3">
        <!-- 에디터를 표시할 요소 -->
        <div id="jsonEditor"></div>
        <!-- 에디터 내용을 서버로 전송하는 버튼 -->
            </div>
            <div class="input-group mb-3">

            </div>
            <button class="btn btn-secondary mt-2" onclick="beautifyCode()">Beautify</button>
            <button class="btn btn-secondary mt-2" onclick="validateJSON()">검증</button>
            <button class="btn btn-secondary mt-2" onclick="TaskJsonSubmit()">전송</button>
        </div>
    </div>
    <p id="result" class="error"></p>
</div>

<script>
    // Initialize Ace Editor
var editor = ace.edit("jsonEditor");
editor.session.setMode("ace/mode/json"); 
editor.setTheme("ace/theme/github"); 
editor.session.setUseWrapMode(true); 
editor.setValue('{ "sourcePoint": "홍길동", "targetPorint": 30 }', -1); // 초기 내용 설정

function beautifyCode() {
    var beautify = ace.require("ace/ext/beautify");
    beautify.beautify(editor.session);
}


function validateJSON() {
    var jsonData = editor.getValue();
    var result = document.getElementById('result');
    try {
        JSON.parse(jsonData);
        result.textContent = "유효한 JSON 데이터입니다.";
        result.style.color = "green";
    } catch (e) {
        result.textContent = "잘못된 JSON 형식입니다.";
        result.style.color = "red";
    }
}

function TaskJsonSubmit() {

    var jsonData = editor.getValue();
    try {
        var parsedData = JSON.parse(jsonData);
        console.log("Valid JSON data:", parsedData);

        // 서버로 데이터 전송 (예시)
        fetch('/task', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: jsonData
        })
        .then(response => response.json())
        .then(json => {
            const resultText = document.getElementById('resultText');
            resultText.value = json.Result;
            console.log(json);
            console.log("task register done.");
        })
        .catch(reason => {
            console.log(reason);
            alert(reason);
        })
        .finally(() => {
            resultCollpase();
        });
    } catch (e) {
        alert("유효한 JSON 형식이 아닙니다. 오류 메시지: " + e.message);
    }
}

</script>